<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Agile или почему так важен успех команды</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/grades.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__wrap-logo">
                    <!-- mobile hamburger -->
                    <button class="toggle-menu">
                        <span class="hamburger">
                    <span class="sw-topper"></span>
                        <span class="sw-bottom"></span>
                        <span class="sw-footer"></span>
                        </span>
                    </button>
                    <!-- End mobile hamburger -->
                    <a class="logoLink" href="index.html">
                        <img src="../images/logo.png" alt="logotype">
                    </a>
                    <form class="header__wrap-search">
                        <div class="form-input" id="form-input">
                            <input name="search" class="search-query" type="text" placeholder="Поиск...">
                            <button class="button"><i class="icon-icon1"></i></button>
                        </div>
                        <div class="showSearch"><i class="icon-icon1"></i></div>
                    </form>
                </div>
                <div class="header__wrap-menu">
                    <nav class="mainMenu" id="mainMenu">
                        <ul>
                            <li class="active">
                                <a href="index.html">ГЛАВНАЯ</a>
                            </li>
                            <li>
                                <a href="about-us.html">О НАС</a>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">УСЛУГИ</a>
                                <ul>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Оценка</a>
                                        <ul>
                                            <li>
                                                <a href="Assessment-center-desktop.html">Ассессмент-центр</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Опросники</a>
                                                <ul>
                                                    <li>
                                                        <a href="evaluation.html">360 градусов</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">Пульс-опросы</a>
                                                    </li>
                                                    <li>
                                                        <a href="Pair-Comparison-Method.html"> Метод парных сравнений</a>
                                                    </li>
                                                    <li>
                                                        <a href="Psychological-climate-assessment.html"> Психологического 
                                                    климата</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка
                                                    корпоративной культуры</a>
                                                    </li>
                                                    <li>
                                                        <a href="Satisfaction-Survey.html"> Удовлетворенности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Invitation-Questionnaire.html"> Вовлечености</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты</a>
                                                <ul>
                                                    <li>
                                                        <a href="Situation-Assessment-Test.html"> Тест оценки ситаций</a>
                                                    </li>
                                                    <li>
                                                        <a href="Learnability-test.html"> Обучаемости</a>
                                                    </li>
                                                    <li>
                                                        <a href="motivation-score.html"> Оценка мотивации</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты личности</a>
                                                <ul>
                                                    <li>
                                                        <a href="Multifactorial-identity.html"> Многофакторный
                                                    опросник личности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Тest-BigFive-Express.html"> BigFive экспресс</a>
                                                    </li>
                                                    <li>
                                                        <a href="questionnaire.html"> Опросник “Личностный 
                                                    портрет”</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка на соответствие
                                                    корпоративной культуре</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты способностей</a>
                                                <ul>
                                                    <li>
                                                        <a href="Universal-ability-test.html">Универсальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Verbal-ability-test.html">Вербальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Math-test.html">Математический</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Group-focus.html">Фокус-группы</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Вознаграждение</a>
                                        <ul>
                                            <li>
                                                <a href="grades.html">Грейды</a>
                                            </li>
                                            <li>
                                                <a href="Motivation-system-development.html">Разработка системы мотивации</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Стратегия</a>
                                        <ul>
                                            <li>
                                                <a href="Model-Competencies.html">Опросник по созданию модели компетенций</a>
                                            </li>
                                            <li>
                                                <a href="Corporate-culture.html">Оценка корпоративной культуры</a>
                                            </li>
                                            <li>
                                                <a href="grades.html">Определение стратегии вознаграждения</a>
                                            </li>
                                            <li>
                                                <a href="Formation-of-a-talent-management-strategy.html">Формирование стратегии управления талантами</a>
                                            </li>
                                            <li>
                                                <a href="HR-strategy-building.html">Построение HR стратегии</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Развитие</a>
                                        <ul>
                                            <li>
                                                <a href="coaching.html">Коучинг</a>
                                            </li>
                                            <li>
                                                <a href="personal-trainer.html">Персональный тренер</a>
                                            </li>
                                            <li>
                                                <a href="Webinars.html">Вебинары</a>
                                            </li>
                                            <li>
                                                <a href="Online-simulators.html">Онлайн тренажеры</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тренинги</a>
                                                <ul>
                                                    <li>
                                                        <a href="HR-trainings.html"> Для HR</a>
                                                    </li>
                                                    <li>
                                                        <a href="Executive-Training.html"> Для руководителей</a>
                                                    </li>
                                                    <li>
                                                        <a href="Training-efficiency-increase.html">Для повышения
                                                            эффективности</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Toolkit.html">Методические пособия</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Автоматизация</a>
                                        <ul>
                                            <li>
                                                <a href="HR-chat-bot.html">Чат-боты</a>
                                            </li>
                                            <li>
                                                <a href="Professional-Knowledge-Tests.html">Тесты профессиональных знаний</a>
                                            </li>
                                            <li>
                                                <a href="Automation-of-tests-and-questionnaires.html">Автоматизация тестов и опросников</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">КОНТЕНТ</a>
                                <ul>
                                    <li>
                                        <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">HR факт</a>
                                        <ul>
                                            <li>
                                                <a href="hr-facts.html#anchor1">HR факт 1</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor2">HR факт 2</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor3">HR факт 3</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor4">HR факт 4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Personal-data-contract.html">Договор о персональных данных</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Статьи</a>
                                        <ul>
                                            <li>
                                                <a href="5ways-to-increase-efficiency.html">5 способов
                                                повышения
                                                эффективности</a>
                                            </li>
                                            <li>
                                                <a href="manibol.html">Манибол</a>
                                            </li>
                                            <li>
                                                <a href="Agile-or-why-team-success-is-so-important.html">Agile или почему
                                                так важен успех
                                                комманды?</a>
                                            </li>
                                            <li>
                                                <a href="ROI.html">ROI от обучения
                                                персонала</a>
                                            </li>
                                            <li>
                                                <a href="How-the-Mafia-game-allows.html">Как игра Мафия
                                                позволяет снизить
                                                текучку и повысить
                                                вовлеченность</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html">КОНТАКТЫ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__wrap-phone">
                    <i class="icon-icon4"></i>
                    <a href="tel:+79265228408">+7 (926) 522-84-08</a>
                </div>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="container">
            <img src="../images/img4.jpg" alt="image">
        </div>
    </div>

    <section class="mainInfo">
        <div class="mainInfo__heading">
            <div class="container">
                <h2>Agile или почему так важен успех команды?</h2>
            </div>
        </div>
        <div class="container">
            <div class="mainInfo__content-blk">
                <p>Организация без сильной команды похожа на гонщика без машины. Здоровые, эффективно работающие команды – это строительные блоки в фундаменте успешной компании, особенно той, которая хочет быстро подняться до высокого уровня. Вне зависимости
                    от того, какие усилия прилагает компания и насколько современные технологии использует, ее успех или провал будет зависеть от качеств задействованных людей и от того, насколько хорошо они сработаются. В том, чтобы обязать людей с разным
                    опытом, навыками, мнениями, убеждениями и мотивацией работать вместе как единое целое на пути к общей цели, заключается проблема многих компаний.</p>
                <p>В этой статье представлен обзор методов оценки и оптимизации Agile команды для обеспечения ее эффективной работы.</p>
                <h3>Как определить, что в команде начался кризис?</h3>
                <p>В книге Патрика Ленсиони “Пять пороков команды” замечательно описан опыт по определению ключевых нарушений в команде, а также указано, как их распознать и что предпринять, чтобы устранить эффективно.</p>
                <h3>Основные 5 дисфункций команды:</h3>
                <ul>
                    <li>-Недоверие – нежелание быть уязвимым в глазах участников группы.</li>
                    <li>-Боязнь конфликта – предпочтение искусственной гармонии конструктивному обсуждению.</li>
                    <li>-Безответственность – мнимое участие в принятии групповых решений создает неопределенность во всей организации.</li>
                    <li>-Нетребовательность – избегание высказывания упреков коллегам в контрпродуктивном поведении, устанавливая низкие стандарты общения.</li>
                    <li>-Безразличие к результатам – ориентация на личный успех, статус и эго, а не на успехи команды.</li>
                </ul>
                <p>Эти дисфункции препятствуют развитию команды до уровня высокой эффективности и удерживают ее на этапе шторма и нормализации, определение которым дал Брюс Такмен в 1960-х годах, и которые будут рассматриваться далее.</p>
                <h3>Учуять неприятности</h3>
                <p>Так же, как гонщик пытается отрегулировать каждую деталь своего автомобиля, от звуков двигателя до запаха его выхлопа, руководитель должен знать особенности своей команды, чтобы определить, требуются ли корректировки.</p>
                <p>«Запах» — это четкий показатель того, что что-то работает неправильно. Ниже приведен список потенциальных «неприятных запахов», которые могут появиться в вашей Agile-команде. Каждый из них является проявлением одного из пяти пороков, определенных
                    Патриком Ленсиони.</p>
                <p>Можно привести такие примеры:</p>
                <ul>
                    <li>-Люди разобщены;</li>
                    <li>-Не помогают друг другу;</li>
                    <li>-Чрезмерный обмен информацией</li>
                    <li>-Только бизнес-аналитики участвуют в обсуждении требований</li>
                    <li>-Только некоторые из участников появляются на собраниях</li>
                    <li>-Участники регулярно опаздывают на совещания</li>
                    <li>-На совещаниях люди занимаются разными сторонними делами</li>
                    <li>-Участники уклоняются от заданий, а не сразу соглашаются на их выполнение, если у них есть такие возможности</li>
                    <li>-Слишком много задач находятся на стадии выполнения – группа работает недостаточно активно</li>
                    <li>-Необходимо постоянно исправлять ошибки команды</li>
                    <li>-Руководитель распределяет задачи между участниками команды, а не наоборот.</li>
                </ul>
                <h3>Справляемся с проблемами роста</h3>
                <p>Когда люди собираются, чтобы сформировать команду, они естественным образом учатся работать вместе для достижения цели. Брюс Такмен наблюдал за развитием команд в 1960-х годах и определил следующие этапы: формирование, «бурление» (шторм),
                    нормализация и функционирование. Группа должна пройти через каждый из них, чтобы достичь идеального состояния своего функционирования. Попытка проигнорировать какой-либо этап может негативно сказаться на зрелости команды и привести
                    к тому, что придется вернуться к предыдущей стадии развития. Руководитель должен знать об этих этапах, чтобы предпринимать правильные шаги по управлению командой в ходе этого процесса.</p>
                <p>На схеме выше перечислены типы поведения, проявляемые на каждом из этапов. На то, чтобы процесс становления прошел должным образом, может уйти около 2 месяцев на каждый этап. Цель состоит в том, чтобы достичь стадии функционирования, а
                    затем контролировать и корректировать поведение команды для поддержания этого состояния.</p>
                <h3>Оценка естественного и адаптивного стилей поведения</h3>
                <p>Разнообразие типов мышления, опыта и навыков важно для создания высокоэффективных команд. Однако, это также представляет собой наибольшую проблему для слаженного функционирования, так как каждый человек уникален, обладает своим собственным
                    типом поведения, мнением и убеждениями.</p>
                <p>Ваш естественный стиль поведения — это то, как вы себя ведете в привычных условиях, то, чего вы придерживаетесь, когда находитесь наедине с самим собой. Это также стиль, к которому вы возвращаетесь, когда испытываете стресс или давление.
                    Это помогает снижать уровень стресса, снимает напряжение и успокаивает. Если вы будете придерживаться этого стиля поведения, вы будете эффективнее увеличивать свой истинный потенциал.</p>
                <p>Ваш адаптивный стиль — это то, как вы ведете себя, когда чувствуете, что за вами наблюдают или когда осознаете свое поведение. Этот стиль менее естественный и менее аутентичный для вас. Когда вы вынуждены придерживаться его слишком долго,
                    вы можете стать напряженным и менее эффективным.</p>
                <p>Участники группы могут пройти оценку с помощью любой типологии личности, создание профиля для каждого члена команды – отличный способ узнать больше друг о друге, понимать, в чем различия типов личности, и как будет лучше общаться и взаимодействовать
                    друг с другом. В результате анализа будет найден лучший способ общения с каждым участником.</p>
                <p>Профили будут очень информативны для руководителя и помогут определить, почему одни люди в совместной работе легко находят взаимопонимание, а другие находятся в противоречии.</p>
                <h3>Выявить пробелы в навыках</h3>
                <p>Руководитель должен оценить команду, чтобы определить, какие навыки отсутствуют, а какие находятся в стадии развития. Это способствует формированию и становлению команды. Как только пробелы будут определены, руководитель должен провести
                    беседу с каждым участник команды, в ходе которой обсуждаются возможности для роста и определяется, в каком (-их) навыке (-ах) заинтересован участник команды и имеет ли он возможность его (их) развивать.</p>
                <p>Следующим шагом будет включение программы развития этих выявленных навыков в план обучения подчиненных, выполнение которого должно быть включено в оценку эффективности каждого участника команды для установления правильных приоритетов и
                    личной ответственности.</p>
                <h3>Разработать план обучения</h3>
                <p>Руководитель и участник команды несут ответственность за составление плана обучения, но, в конечном итоге, именно второй отвечает за его выполнение. Руководитель курирует выполнение плана и осуществляет объективную оценку результатов.
                    Необходимо периодически пересматривать план обучения вместе с участником команды для осуществления его переоценки и внесения необходимых корректировок.</p>
                <h3>Сам план может состоять из таких пунктов:</h3>
                <p><span class="bold">Формальное обучение</span> может проходить в форме аудиторных или онлайновых учебных занятий. Это отличный способ пройти более углубленное обучение, помогающее развить требуемый набор навыков. В большинстве случаев,
                    такое обучение включает упражнения, которые помогают лучше усвоить пройденный материал. Чем больше будет практических занятий, тем лучше, так как большинство знаний, полученных пассивным образом во время обучения, теряется, если не
                    применять их вскоре после занятий.</p>
                <p><span class="bold">Неформальное обучение</span> может заключаться всего лишь в проведении тематических обеденных семинаров или участии в профильных сообществах по обмену опытом, где применяется необходимый навык. Можно посетить ряд вебинаров
                    в интернете.</p>
                <p><span class="bold">Работа в парах</span> подразумевает совместную работу более опытного и менее опытного участников команды над совершенствованием новых навыков.</p>
                <p><span class="bold">Самостоятельное обучение.</span> Есть сайты, вики-страницы и книги по темам, имеющим отношение к необходимому набору навыков. Любые попытки самообучения должны быть включены в учебный план.</p>
                <p><span class="bold">Наставничество.</span> Роль наставника заключается в оказании помощи участнику команды на протяжении работы, так как ему, зачастую, проще и быстрее обратиться к наставнику, чем к руководителю.</p>
                <h3>Осознать, что в «команде» всё-таки есть «я»</h3>
                <p>Есть поговорка, что в слове «команда» нет буквы «я» (англ. «There is no ‘I’ in ‘Team’»). К сожалению, это выражение несколько контрпродуктивно. Ориентированность исключительно на команду подрывает самостоятельность отдельного человека,
                    а это демотивирует людей, составляющих эту самую команду. Командная работа важна, но руководитель не должен забывать, что она состоит из личностей, у которых есть своя собственная мотивация и потребности. Руководитель должен найти
                    правильное соотношение между автономией команды, которая обусловливает самоорганизацию, и личной автономией, которая мотивирует человека стать ее продуктивным участником.</p>
                <p>Руководителю важно получить информацию о том, что вызывает внутреннюю мотивацию у каждого участника его команды, чтобы давать ему работу, приносящую внутреннее удовлетворение.</p>
                <h3>Проведение ретроспективных собраний</h3>
                <p>Одним из эффективных инструментов для калибровки вашей команды является ретроспективный анализ. Он играет важную роль в процессе оптимизации команды, ее развитии до этапа функционирования и удержании в этой стадии. Хорошим источником,
                    предоставляющим подробную информацию для проведения эффективных ретроспектив, является книга Эстер Дерби и Дианы Ларсен “Agile ретроспектива: Как превратить хорошую команду в великую”.</p>
                <p>Если вы не проводите ретроспективы, вам стоит начать это делать. Если проводите, нужно определить, как вы можете их улучшить, чтобы повысить пользу от их проведения, а также чтобы поддерживать их актуальность и информативность. Отслеживайте
                    результаты в журнале невыполненных задач по улучшению работы команды. Пункты из этого списка помогут контролировать постепенное выполнение задач, входящих в зону ответственности команды.</p>
                <h3>Заключение</h3>
                <p>В какой-то степени роль руководителя – это роль лидера, и если мы вернемся к нашей аналогии об Agile команде, как о высокопроизводительном двигателе, то руководитель — это конструктор-механик. Он не только должен понимать, как работает
                    двигатель, но и какие инструменты и методы используются для его наладки до нужной производительности. Я надеюсь, что этот обзор некоторых достаточно эффективных методов калибровки Agile команды вдохновит вас, и вы используете один,
                    а, может быть, и несколько из них в работе с вашей командой, чтобы увидеть, повлечет ли это за собой какие-либо положительные изменения.</p>
            </div>
        </div>
    </section>

    <div class="anchorMenu">
        <ul>
            <li>
                <a href="javascript:void(0)" class="fixedBtn">
                    <i class="icon-icon4"></i>
                </a>
                <div class="fixedBtn-body">
                    <div class="closeBtn"></div>
                    <a href="index.html" class="logo">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                    <p class="title">Свяжитесь с нами</p>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="scrollTop">
                    <span>
        <i class="icon-icon5"></i>
   </span>
                </a>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-item logotype">
                    <a href="index.html" class="logoFooter">
                        <img src="../images/logo.png" alt="image" class="logo">
                    </a>
                </div>
                <div class="footer__wrapper-item contacts">
                    <p class="title">КОНТАКТЫ</p>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP" target="_blank">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                </div>
                <div class="footer__wrapper-item menus">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Главная</a>
                            </li>
                            <li>
                                <a href="about-us.html">О нас</a>
                            </li>
                            <li>
                                <a href="index.html#services">Услуги</a>
                            </li>
                            <li>
                                <a href="index.html#articles">Контент</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html#benefits">Преимущества</a>
                            </li>
                            <li>
                                <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                            </li>
                            <li>
                                <a href="index.html#clients">Наши клиенты</a>
                            </li>
                            <li>
                                <a href="hr-facts.html">HR факт</a>
                            </li>
                            <li>
                                <a href="index.html#videos">Видеоролики</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__wrapper-item bottom">
                    <img src="../images/logo-footer.png" alt="image">
                </div>
            </div>
        </div>
    </footer>

    <!-- popup -->
    <!-- .closeBtn - закрывает попап -->
    <!-- .open-email__popup - открывает попап -->
    <div class="overlay-email overlayPopup">
        <div class="close"></div>
        <div class="email__popup">
            <span class="close-popup closeBtn"></span>
            <div class="emailForm__form">
                <p class="title">Свяжитесь с нами
                    <span>Для того чтобы заказать услугу 
                или задать вопрос  на сайте, обращайтесь
                    любым удобным для Вас способом!</span></p>
                <form>
                    <div class="form-wrap">
                        <div class="form-input">
                            <input type="text" placeholder="Имя">
                        </div>
                        <div class="form-input">
                            <input type="email" placeholder="E-mail">
                        </div>
                        <div class="form-input">
                            <input type="text" placeholder="Тема">
                        </div>
                    </div>
                    <div class="form-textarea">
                        <textarea placeholder="Сообщение"></textarea>
                    </div>
                    <div class="form-bottom">
                        <div class="form-info">
                            <p class="place">
                                <i class="icon-icon9"></i> МОСКВА
                            </p>
                            <p>
                                <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                            </p>
                            <p>
                                <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                            </p>
                        </div>
                        <button>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>

    <script src="../js/script.min.js"></script>
</body>

</html>