<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Кейсы про клиентов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logo.png">
    <link rel="stylesheet" href="../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cases.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__wrap-logo">
                    <!-- mobile hamburger -->
                    <button class="toggle-menu">
                        <span class="hamburger">
                    <span class="sw-topper"></span>
                        <span class="sw-bottom"></span>
                        <span class="sw-footer"></span>
                        </span>
                    </button>
                    <!-- End mobile hamburger -->
                    <a class="logoLink" href="index.html">
                        <img src="../images/logo.png" alt="logotype">
                    </a>
                    <form class="header__wrap-search">
                        <div class="form-input" id="form-input">
                            <input name="search" class="search-query" type="text" placeholder="Поиск...">
                            <button class="button"><i class="icon-icon1"></i></button>
                        </div>
                        <div class="showSearch"><i class="icon-icon1"></i></div>
                    </form>
                </div>
                <div class="header__wrap-menu">
                    <nav class="mainMenu" id="mainMenu">
                        <ul>
                            <li class="active">
                                <a href="index.html">ГЛАВНАЯ</a>
                            </li>
                            <li>
                                <a href="about-us.html">О НАС</a>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">УСЛУГИ</a>
                                <ul>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Оценка</a>
                                        <ul>
                                            <li>
                                                <a href="Assessment-center-desktop.html">Ассессмент-центр</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Опросники</a>
                                                <ul>
                                                    <li>
                                                        <a href="evaluation.html">360 градусов</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">Пульс-опросы</a>
                                                    </li>
                                                    <li>
                                                        <a href="Pair-Comparison-Method.html"> Метод парных сравнений</a>
                                                    </li>
                                                    <li>
                                                        <a href="Psychological-climate-assessment.html"> Психологического 
                                                    климата</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка
                                                    корпоративной культуры</a>
                                                    </li>
                                                    <li>
                                                        <a href="Satisfaction-Survey.html"> Удовлетворенности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Invitation-Questionnaire.html"> Вовлечености</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты</a>
                                                <ul>
                                                    <li>
                                                        <a href="Situation-Assessment-Test.html"> Тест оценки ситаций</a>
                                                    </li>
                                                    <li>
                                                        <a href="Learnability-test.html"> Обучаемости</a>
                                                    </li>
                                                    <li>
                                                        <a href="motivation-score.html"> Оценка мотивации</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты личности</a>
                                                <ul>
                                                    <li>
                                                        <a href="Multifactorial-identity.html"> Многофакторный
                                                    опросник личности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Тest-BigFive-Express.html"> BigFive экспресс</a>
                                                    </li>
                                                    <li>
                                                        <a href="questionnaire.html"> Опросник “Личностный 
                                                    портрет”</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка на соответствие
                                                    корпоративной культуре</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты способностей</a>
                                                <ul>
                                                    <li>
                                                        <a href="Universal-ability-test.html">Универсальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Verbal-ability-test.html">Вербальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Math-test.html">Математический</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Group-focus.html">Фокус-группы</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Вознаграждение</a>
                                        <ul>
                                            <li>
                                                <a href="grades.html">Грейды</a>
                                            </li>
                                            <li>
                                                <a href="Motivation-system-development.html">Разработка системы мотивации</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Стратегия</a>
                                        <ul>
                                            <li>
                                                <a href="Model-Competencies.html">Опросник по созданию модели компетенций</a>
                                            </li>
                                            <li>
                                                <a href="Corporate-culture.html">Оценка корпоративной культуры</a>
                                            </li>
                                            <li>
                                                <a href="grades.html">Определение стратегии вознаграждения</a>
                                            </li>
                                            <li>
                                                <a href="Formation-of-a-talent-management-strategy.html">Формирование стратегии управления талантами</a>
                                            </li>
                                            <li>
                                                <a href="HR-strategy-building.html">Построение HR стратегии</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Развитие</a>
                                        <ul>
                                            <li>
                                                <a href="coaching.html">Коучинг</a>
                                            </li>
                                            <li>
                                                <a href="personal-trainer.html">Персональный тренер</a>
                                            </li>
                                            <li>
                                                <a href="Webinars.html">Вебинары</a>
                                            </li>
                                            <li>
                                                <a href="Online-simulators.html">Онлайн тренажеры</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тренинги</a>
                                                <ul>
                                                    <li>
                                                        <a href="HR-trainings.html"> Для HR</a>
                                                    </li>
                                                    <li>
                                                        <a href="Executive-Training.html"> Для руководителей</a>
                                                    </li>
                                                    <li>
                                                        <a href="Training-efficiency-increase.html">Для повышения
                                                            эффективности</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Toolkit.html">Методические пособия</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Автоматизация</a>
                                        <ul>
                                            <li>
                                                <a href="HR-chat-bot.html">Чат-боты</a>
                                            </li>
                                            <li>
                                                <a href="Professional-Knowledge-Tests.html">Тесты профессиональных знаний</a>
                                            </li>
                                            <li>
                                                <a href="Automation-of-tests-and-questionnaires.html">Автоматизация тестов и опросников</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">КОНТЕНТ</a>
                                <ul>
                                    <li>
                                        <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">HR факт</a>
                                        <ul>
                                            <li>
                                                <a href="hr-facts.html#anchor1">HR факт 1</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor2">HR факт 2</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor3">HR факт 3</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor4">HR факт 4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Personal-data-contract.html">Договор о персональных данных</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Статьи</a>
                                        <ul>
                                            <li>
                                                <a href="5ways-to-increase-efficiency.html">5 способов
                                                повышения
                                                эффективности</a>
                                            </li>
                                            <li>
                                                <a href="manibol.html">Манибол</a>
                                            </li>
                                            <li>
                                                <a href="Agile-or-why-team-success-is-so-important.html">Agile или почему
                                                так важен успех
                                                комманды?</a>
                                            </li>
                                            <li>
                                                <a href="ROI.html">ROI от обучения
                                                персонала</a>
                                            </li>
                                            <li>
                                                <a href="How-the-Mafia-game-allows.html">Как игра Мафия
                                                позволяет снизить
                                                текучку и повысить
                                                вовлеченность</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html">КОНТАКТЫ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__wrap-phone">
                    <i class="icon-icon4"></i>
                    <a href="tel:+79265228408">+7 (926) 522-84-08</a>
                </div>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="container">
            <img src="../images/cases.jpg" alt="image">
        </div>
    </div>

    <section class="mainInfo">
        <div class="mainInfo__heading">
            <div class="container">
                <h2>Кейсы про клиентов</h2>
            </div>
        </div>
        <div class="container">
            <div class="mainInfo__wrapper">
                <div class="content">
                    <div class="content__item" id="bashneft">
                        <div class="title">
                            <p><img src="../images/cases/logo1.jpg" alt="logotype"> Башнефть
                            </p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Чат-бот по адаптации</span> – не только информировал, помогал составить план адаптации, но и оценивал психологическое состояние сотрудника на каждом этапе. Это снизило потери сотрудников на испытательном сроке
                            на 23%</p>
                        <p><span class="bold">Тест русского языка</span> – оценивает степень владения русским языком, с использованием адаптационного механизма, который позволял не создавать ощущения неудачи, если результаты были слабыми.</p>
                    </div>
                    <div class="content__item" id="makdonalds">
                        <div class="title">
                            <p><img src="../images/cases/logo2.jpg" alt="logotype"> Макдональдс
                            </p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Тест оценки ситуаций</span> – оценивает 8 компетенций за 8 минут у кандидатов при найме</p>
                    </div>
                    <div class="content__item" id="hh">
                        <div class="title">
                            <p><img src="../images/cases/logo3.jpg" alt="logotype"> HH.ru
                            </p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Тест оценки ситуаций</span> – максимально быстрая автоматизированная оценка компетенций онлайн.</p>
                    </div>
                    <div class="content__item" id="bnp">
                        <div class="title">
                            <p><img src="../images/cases/logo4.jpg" alt="logotype"> BNP Paribas CARDIF</p>
                        </div>
                        <p><span class="bold">Расширенные формы ИПР</span> (индивидуальных планов развития) – на основании оценки 360 градусов для каждого сотрудника составлялось персональное методическое пособие по развитию навыков, с учетом их типа личности
                            и особенностей способностей к восприятию информации.</p>
                    </div>
                    <div class="content__item" id="media-markt">
                        <div class="title">
                            <p><img src="../images/cases/logo5.jpg" alt="logotype"> Media Markt</p>
                        </div>
                        <p><span class="bold">Обучение разработке модели компетенций</span> – проведение обучения сотрудников компании, в результате которого они смогли сами разработать и развивать корпоративную и управленческую модель компетенции.восприятию
                            информации.</p>
                    </div>
                    <div class="content__item" id="askona">
                        <div class="title">
                            <p><img src="../images/cases/logo6.jpg" alt="logotype"> Торговый дом “Аскона”</p>
                        </div>
                        <p><span class="bold">Ассессмент-центр</span> – регулярная оценка сотрудников, с целью контроля их развития и необходимости определения потенциальных руководителей.</p>
                        <p><span class="bold">Глубинная оценка ТОП менеджеров</span> – особый вид индивидуального ассессмента, позволяющий определить, что мешает эффективному развитию бизнеса.</p>
                    </div>
                    <div class="content__item" id="sberbank">
                        <div class="title">
                            <p><img src="../images/cases/logo7.jpg" alt="logotype"> Сбербанк
                            </p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Повышение квалификации наблюдателей для ассессмент-центра</span> – тренинг для опытных наблюдателей, с целью совершенствования навыков наблюдения в ходе ассессмент-центра, предоставление обратной связи мешает
                            эффективному развитию бизнеса.</p>
                    </div>
                    <div class="content__item" id="agrotek">
                        <div class="title">
                            <p><img src="../images/cases/logo8.jpg" alt="logotype"> Агротек
                            </p>
                        </div>
                        <p><span class="bold">Онлайн система по управлению тестами знаний</span> – позволила организовать быструю разработку и проведение оценки для всех сотрудников.</p>
                    </div>
                    <div class="content__item" id="man">
                        <div class="title">
                            <p><img src="../images/cases/logo9.jpg" alt="logotype"> МАН
                            </p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Скрытая оценка эффективности работы HR подразделения</span> – применение специальных методик с целью оценки работы HR, позволила собственнику определить кого привлекать на</p>
                    </div>
                    <div class="content__item" id="medicina">
                        <div class="title">
                            <p><img src="../images/cases/logo10.jpg" alt="logotype"> ООО “Медицина”</p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Ассессмент-центр</span> – оценка руководителей в офисе и главврачей, с учетом особенностей работы клиники – Luxury сегмент рынка.</p>
                        <p><span class="bold">Автоматизированная система подбора сотрудников</span> – позволила быстро и точно оценить 3000 кандидатов и выбрать наиболее эффективных сотрудников.</p>
                    </div>
                    <div class="content__item" id="prosveshchenie">
                        <div class="title">
                            <p><img src="../images/cases/logo11.jpg" alt="logotype"> Издательство “Просвещение”</p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Оценка персонала</span> – разработка специализированных кейсов для оценки сложных групп сотрудников, маркетологов и главных редакторов, выявление кадрового потенциала каждого, формирование кадрового резерва.</p>
                    </div>
                    <div class="content__item" id="urban">
                        <div class="title">
                            <p><img src="../images/cases/logo12.jpg" alt="logotype"> Urban group</p>
                        </div>
                        <p><span class="bold">Построение организационной структуры и разработка норм управляемости</span> – повышение эффективности компании за счет эффективного управления оргструктурой и автоматизации расчетов норм управляемости.</p>
                    </div>
                    <div class="content__item" id="moesk">
                        <div class="title">
                            <p><img src="../images/cases/logo13.jpg" alt="logotype"> МОЭСК
                            </p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Персонифицированная система грейдов</span> – формирование должностных диапазонов и уровней зарплат, учитывая высокий риск деятельности сотрудников и опасные условия труда</p>
                    </div>
                    <div class="content__item" id="ttk">
                        <div class="title">
                            <p><img src="../images/cases/logo14.jpg" alt="logotype"> ТТК
                            </p>
                        </div>
                        <p><span class="bold">Система грейдов</span> – разработка классической системы грейдов на основании методологии Hey.</p>
                    </div>
                    <div class="content__item" id="russkoe-more">
                        <div class="title">
                            <p><img src="../images/cases/logo15.jpg" alt="logotype"> Русское море</p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Экспресс разработка системы грейдов</span> – 300 должностей оценены в течение 1 месяца, выстроены должностные диапазоны по системе грейдов.</p>
                    </div>
                    <div class="content__item" id="tnk-bp">
                        <div class="title">
                            <p><img src="../images/cases/logo16.jpg" alt="logotype"> ТНК-BP
                            </p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Тест BigFive Exspress</span> – оценка личностных особенностей кандидатов на заправочные станции за 3-4 минуты, по классическому тесту BigFive.</p>
                    </div>
                    <div class="content__item" id="kinetics">
                        <div class="title">
                            <p><img src="../images/cases/logo17.jpg" alt="logotype"> Hygiene kinetics (Бренд Ола, Silk Sense,TerezaMed, Waterflow, Milly Tilly)</p>
                        </div>
                        <p><span class="bold">Оценка методом 360</span> – оценены 70 сотрудников для выявления и формирования кадрового потенциала.</p>
                    </div>
                    <div class="content__item" id="huhtamaki">
                        <div class="title">
                            <p><img src="../images/cases/logo18.jpg" alt="logotype"> Huhtamaki (лидер в производстве упаковки и одноразовой посуды)</p>
                        </div>
                        <p><span class="bold">Тренинг “Написание деловых писем”</span> – обучение руководителей навыкам деловой переписки.</p>
                    </div>
                    <div class="content__item" id="transaero">
                        <div class="title">
                            <p><img src="../images/cases/logo19.jpg" alt="logotype"> Авиакомпания Transaero</p>
                        </div>
                        <p><span class="bold">Тест обучаемости</span> – оценка способности специалистов и руководителей к обучению, что позволило снизить затраты на обучение на 13%.</p>
                    </div>
                    <div class="content__item" id="slc">
                        <div class="title">
                            <p><img src="../images/cases/logo20.jpg" alt="logotype"> SLC
                            </p>
                        </div>
                        <p><span class="bold">Определение типа корпоративной культуры</span> – выявление типа корпоративной культуры компании и соответствие сотрудников этой культуре, формирование команд с учетом типов культуры и контркультуры.</p>
                    </div>
                    <div class="content__item" id="kegoc">
                        <div class="title">
                            <p><img src="../images/cases/logo21.jpg" alt="logotype"> KEGOC
                            </p>
                        </div>
                        <p><span class="bold">HR стратегия</span> – анализ ситуации в компании для правильной формулировки долгосрочных целей и построения HR стратегии на 5 лет.</p>
                        <p><span class="bold">Система управления эффективностью</span> – внедрение системы KPI, что позволило повысить нацеленность сотрудников на выполнение ключевых задач.</p>
                        <p><span class="bold">Система управления организационной структурой</span> – сотрудники разработали правила управления структурой компании в связи с происходящими изменениями и проектами трансформации.</p>
                    </div>
                    <div class="content__item" id="salut">
                        <div class="title">
                            <p><img src="../images/cases/logo22.jpg" alt="logotype"> АО НПЦ газотурбостроения «САЛЮТ»</p>
                        </div>
                        <p><span class="bold">Ассессмент-центр и тестирование проджект менеджеров</span> – оценка позволила выбрать потенциальных менеджеров по управлению проектами из числа специалистов и инженеров, которые возглавили изменения на предприятии.</p>
                    </div>
                    <div class="content__item" id="neva">
                        <div class="title">
                            <p><img src="../images/cases/logo23.jpg" alt="logotype"> Турфима “Нева”</p>
                        </div>
                        <p><span class="bold">Коучинг</span> – коучинг руководителей с целью развития управленческих навыков.</p>
                    </div>
                    <div class="content__item" id="beluy-veter">
                        <div class="title">
                            <p><img src="../images/cases/logo24.jpg" alt="logotype"> Белый Ветер Цифровой</p>
                        </div>
                        <p><span class="bold">Тест способностей</span> – определение показателей вербального и невербального интеллекта входящих кандидатов.</p>
                    </div>
                    <div class="content__item" id="magistral">
                        <div class="title">
                            <p><img src="../images/cases/logo25.jpg" alt="logotype"> Magistral
                            </p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Комплексная оценка руководителей</span> – оценка психологического климата в коллективе, анализ вовлеченности и удовлетворенности сотрудников, параллельное проведение ассессмент-центров с 53 руководителями, выявление
                            деструктивных черт. Это позволило сформировать целостное понимание связи эффективности работы руководителя, его потенциала и ситуации в его подразделении.психологического климата в коллективе, анализ вовлеченности и удовлетворенности
                            сотрудников, параллельное проведение ассессмент-центров с 53 руководителями, выявление деструктивных черт. Это позволило сформировать целостное понимание связи эффективности работы руководителя, его потенциала и ситуации в
                            его подразделении.</p>
                    </div>
                    <div class="content__item" id="kmf">
                        <div class="title">
                            <p><img src="../images/cases/logo26.jpg" alt="logotype"> КМФ (KMF)</p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Комплексная оценка руководителей</span> – оценка психологического климата в коллективе, анализ вовлеченности и удовлетворенности сотрудников, параллельное проведение ассессмент-центров с 53 руководителями, выявление
                            деструктивных черт. Это позволило сформировать целостное понимание связи эффективности работы руководителя, его потенциала и ситуации в его подразделении.</p>
                    </div>
                    <div class="content__item" id="google">
                        <div class="title">
                            <p><img src="../images/cases/logo27.jpg" alt="logotype"> Google
                            </p>
                        </div>
                        <p><span class="bold">Чем этот проект был необычен?</span></p>
                        <p><span class="bold">Экспресс-оценка бизнес-потенциала</span> – в проекте компании Бизнес Класс, автоматически оценен потенциал более 70000 сотрудников, выделены наиболее перспективные кандидаты на программу обучения.</p>
                    </div>
                </div>
                <div class="tabBlk">
                    <!-- <div class="calendar">
                    <div id="datepicker"></div>
                </div> -->
                    <div id="calendar-2" class="widget widget_calendar widget-shortcode area-arbitrary">
                        <h2 class="widgettitle">Календарь</h2>
                        <div id="calendar_wrap" class="calendar_wrap">
                            <table id="wp-calendar">
                                <caption>Апрель 2019</caption>
                                <thead>
                                    <tr>
                                        <th scope="col" title="Понедельник">Пн</th>
                                        <th scope="col" title="Вторник">Вт</th>
                                        <th scope="col" title="Среда">Ср</th>
                                        <th scope="col" title="Четверг">Чт</th>
                                        <th scope="col" title="Пятница">Пт</th>
                                        <th scope="col" title="Суббота">Сб</th>
                                        <th scope="col" title="Воскресенье">Вс</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr>
                                        <td colspan="3" id="prev" class="pad">&nbsp;</td>
                                        <td class="pad">&nbsp;</td>
                                        <td colspan="3" id="next" class="pad">&nbsp;</td>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td><a href="http://wp-hr-consulting.plemya-demo.ru/2019/04/16/" aria-label="Записи, опубликованные 16.04.2019">16</a></td>
                                        <td><a href="http://wp-hr-consulting.plemya-demo.ru/2019/04/17/" aria-label="Записи, опубликованные 17.04.2019">17</a></td>
                                        <td>18</td>
                                        <td><a href="http://wp-hr-consulting.plemya-demo.ru/2019/04/19/" aria-label="Записи, опубликованные 19.04.2019">19</a></td>
                                        <td>20</td>
                                        <td>21</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>23</td>
                                        <td><a href="http://wp-hr-consulting.plemya-demo.ru/2019/04/24/" aria-label="Записи, опубликованные 24.04.2019">24</a></td>
                                        <td id="today"><a href="http://wp-hr-consulting.plemya-demo.ru/2019/04/25/" aria-label="Записи, опубликованные 25.04.2019">25</a></td>
                                        <td>26</td>
                                        <td>27</td>
                                        <td>28</td>
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>30</td>
                                        <td class="pad" colspan="5">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <select class="selectmenu">
                        <option>Архивы</option>
                        <option>Март 2017</option>
                        <option>Март 2016</option>
                        <option>Март 2015</option>
                    </select>
                </div>
            </div>
            <section class="contactForm">
                <div class="contactForm__heading">
                    <h4>Возникли вопросы или хотите воспользоваться услугой?</h4>
                    <h4>Оставьте заявку прямо сейчас!</h4>
                </div>
                <div class="contactForm__form">
                    <p class="title">Свяжитесь с нами
                        <span>Для того чтобы заказать услугу 
        или задать вопрос  на сайте, обращайтесь
            любым удобным для Вас способом!</span></p>
                    <form>
                        <div class="form-wrap">
                            <div class="form-input">
                                <input type="text" placeholder="Имя">
                            </div>
                            <div class="form-input">
                                <input type="email" placeholder="E-mail">
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder="Тема">
                            </div>
                        </div>
                        <div class="form-textarea">
                            <textarea placeholder="Сообщение"></textarea>
                        </div>
                        <div class="form-bottom">
                            <div class="form-info">
                                <p class="place">
                                    <i class="icon-icon9"></i> МОСКВА
                                </p>
                                <p>
                                    <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                                </p>
                                <p>
                                    <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                                </p>
                            </div>
                            <button>Отправить</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>

    <div class="anchorMenu">
        <ul>
            <li>
                <a href="javascript:void(0)" class="fixedBtn">
                    <i class="icon-icon4"></i>
                </a>
                <div class="fixedBtn-body">
                    <div class="closeBtn"></div>
                    <a href="index.html" class="logo">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                    <p class="title">Свяжитесь с нами</p>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="scrollTop">
                    <span>
        <i class="icon-icon5"></i>
   </span>
                </a>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-item logotype">
                    <a href="index.html" class="logoFooter">
                        <img src="../images/logo.png" alt="image" class="logo">
                    </a>
                </div>
                <div class="footer__wrapper-item contacts">
                    <p class="title">КОНТАКТЫ</p>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP" target="_blank">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                </div>
                <div class="footer__wrapper-item menus">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Главная</a>
                            </li>
                            <li>
                                <a href="about-us.html">О нас</a>
                            </li>
                            <li>
                                <a href="index.html#services">Услуги</a>
                            </li>
                            <li>
                                <a href="index.html#articles">Контент</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html#benefits">Преимущества</a>
                            </li>
                            <li>
                                <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                            </li>
                            <li>
                                <a href="index.html#clients">Наши клиенты</a>
                            </li>
                            <li>
                                <a href="hr-facts.html">HR факт</a>
                            </li>
                            <li>
                                <a href="index.html#videos">Видеоролики</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__wrapper-item bottom">
                    <img src="../images/logo-footer.png" alt="image">
                </div>
            </div>
        </div>
    </footer>

    <!-- popup -->
    <!-- .closeBtn - закрывает попап -->
    <!-- .open-email__popup - открывает попап -->
    <div class="overlay-email overlayPopup">
        <div class="close"></div>
        <div class="email__popup">
            <span class="close-popup closeBtn"></span>
            <div class="emailForm__form">
                <p class="title">Свяжитесь с нами
                    <span>Для того чтобы заказать услугу 
                или задать вопрос  на сайте, обращайтесь
                    любым удобным для Вас способом!</span></p>
                <form>
                    <div class="form-wrap">
                        <div class="form-input">
                            <input type="text" placeholder="Имя">
                        </div>
                        <div class="form-input">
                            <input type="email" placeholder="E-mail">
                        </div>
                        <div class="form-input">
                            <input type="text" placeholder="Тема">
                        </div>
                    </div>
                    <div class="form-textarea">
                        <textarea placeholder="Сообщение"></textarea>
                    </div>
                    <div class="form-bottom">
                        <div class="form-info">
                            <p class="place">
                                <i class="icon-icon9"></i> МОСКВА
                            </p>
                            <p>
                                <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                            </p>
                            <p>
                                <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                            </p>
                        </div>
                        <button>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/datepicker-ru.js"></script>

    <script src="../js/script.min.js"></script>
    <script src="../js/cases.min.js"></script>
</body>

</html>