<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Коучинг</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/grades.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__wrap-logo">
                    <!-- mobile hamburger -->
                    <button class="toggle-menu">
                        <span class="hamburger">
                    <span class="sw-topper"></span>
                        <span class="sw-bottom"></span>
                        <span class="sw-footer"></span>
                        </span>
                    </button>
                    <!-- End mobile hamburger -->
                    <a class="logoLink" href="index.html">
                        <img src="../images/logo.png" alt="logotype">
                    </a>
                    <form class="header__wrap-search">
                        <div class="form-input" id="form-input">
                            <input name="search" class="search-query" type="text" placeholder="Поиск...">
                            <button class="button"><i class="icon-icon1"></i></button>
                        </div>
                        <div class="showSearch"><i class="icon-icon1"></i></div>
                    </form>
                </div>
                <div class="header__wrap-menu">
                    <nav class="mainMenu" id="mainMenu">
                        <ul>
                            <li class="active">
                                <a href="index.html">ГЛАВНАЯ</a>
                            </li>
                            <li>
                                <a href="about-us.html">О НАС</a>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">УСЛУГИ</a>
                                <ul>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Оценка</a>
                                        <ul>
                                            <li>
                                                <a href="Assessment-center-desktop.html">Ассессмент-центр</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Опросники</a>
                                                <ul>
                                                    <li>
                                                        <a href="evaluation.html">360 градусов</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">Пульс-опросы</a>
                                                    </li>
                                                    <li>
                                                        <a href="Pair-Comparison-Method.html"> Метод парных сравнений</a>
                                                    </li>
                                                    <li>
                                                        <a href="Psychological-climate-assessment.html"> Психологического 
                                                    климата</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка
                                                    корпоративной культуры</a>
                                                    </li>
                                                    <li>
                                                        <a href="Satisfaction-Survey.html"> Удовлетворенности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Invitation-Questionnaire.html"> Вовлечености</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты</a>
                                                <ul>
                                                    <li>
                                                        <a href="Situation-Assessment-Test.html"> Тест оценки ситаций</a>
                                                    </li>
                                                    <li>
                                                        <a href="Learnability-test.html"> Обучаемости</a>
                                                    </li>
                                                    <li>
                                                        <a href="motivation-score.html"> Оценка мотивации</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты личности</a>
                                                <ul>
                                                    <li>
                                                        <a href="Multifactorial-identity.html"> Многофакторный
                                                    опросник личности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Тest-BigFive-Express.html"> BigFive экспресс</a>
                                                    </li>
                                                    <li>
                                                        <a href="questionnaire.html"> Опросник “Личностный 
                                                    портрет”</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка на соответствие
                                                    корпоративной культуре</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты способностей</a>
                                                <ul>
                                                    <li>
                                                        <a href="Universal-ability-test.html">Универсальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Verbal-ability-test.html">Вербальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Math-test.html">Математический</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Group-focus.html">Фокус-группы</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Вознаграждение</a>
                                        <ul>
                                            <li>
                                                <a href="grades.html">Грейды</a>
                                            </li>
                                            <li>
                                                <a href="Motivation-system-development.html">Разработка системы мотивации</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Стратегия</a>
                                        <ul>
                                            <li>
                                                <a href="Model-Competencies.html">Опросник по созданию модели компетенций</a>
                                            </li>
                                            <li>
                                                <a href="Corporate-culture.html">Оценка корпоративной культуры</a>
                                            </li>
                                            <li>
                                                <a href="grades.html">Определение стратегии вознаграждения</a>
                                            </li>
                                            <li>
                                                <a href="Formation-of-a-talent-management-strategy.html">Формирование стратегии управления талантами</a>
                                            </li>
                                            <li>
                                                <a href="HR-strategy-building.html">Построение HR стратегии</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Развитие</a>
                                        <ul>
                                            <li>
                                                <a href="coaching.html">Коучинг</a>
                                            </li>
                                            <li>
                                                <a href="personal-trainer.html">Персональный тренер</a>
                                            </li>
                                            <li>
                                                <a href="Webinars.html">Вебинары</a>
                                            </li>
                                            <li>
                                                <a href="Online-simulators.html">Онлайн тренажеры</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тренинги</a>
                                                <ul>
                                                    <li>
                                                        <a href="HR-trainings.html"> Для HR</a>
                                                    </li>
                                                    <li>
                                                        <a href="Executive-Training.html"> Для руководителей</a>
                                                    </li>
                                                    <li>
                                                        <a href="Training-efficiency-increase.html">Для повышения
                                                            эффективности</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Toolkit.html">Методические пособия</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Автоматизация</a>
                                        <ul>
                                            <li>
                                                <a href="HR-chat-bot.html">Чат-боты</a>
                                            </li>
                                            <li>
                                                <a href="Professional-Knowledge-Tests.html">Тесты профессиональных знаний</a>
                                            </li>
                                            <li>
                                                <a href="Automation-of-tests-and-questionnaires.html">Автоматизация тестов и опросников</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">КОНТЕНТ</a>
                                <ul>
                                    <li>
                                        <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">HR факт</a>
                                        <ul>
                                            <li>
                                                <a href="hr-facts.html#anchor1">HR факт 1</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor2">HR факт 2</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor3">HR факт 3</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor4">HR факт 4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Personal-data-contract.html">Договор о персональных данных</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Статьи</a>
                                        <ul>
                                            <li>
                                                <a href="5ways-to-increase-efficiency.html">5 способов
                                                повышения
                                                эффективности</a>
                                            </li>
                                            <li>
                                                <a href="manibol.html">Манибол</a>
                                            </li>
                                            <li>
                                                <a href="Agile-or-why-team-success-is-so-important.html">Agile или почему
                                                так важен успех
                                                комманды?</a>
                                            </li>
                                            <li>
                                                <a href="ROI.html">ROI от обучения
                                                персонала</a>
                                            </li>
                                            <li>
                                                <a href="How-the-Mafia-game-allows.html">Как игра Мафия
                                                позволяет снизить
                                                текучку и повысить
                                                вовлеченность</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html">КОНТАКТЫ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__wrap-phone">
                    <i class="icon-icon4"></i>
                    <a href="tel:+79265228408">+7 (926) 522-84-08</a>
                </div>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="container">
            <img src="../images/coaching.jpg" alt="image">
        </div>
    </div>

    <section class="mainInfo">
        <div class="mainInfo__heading">
            <div class="container">
                <h2>Коучинг</h2>
            </div>
        </div>
        <div class="container">
            <div class="mainInfo__content-blk">
                <p>
                    Это возможность решить проблемы мешающие бизнесу или достижению целей. Вместе с коучем вы сформулируете правильные цели в бизнесе, в карьере, развитии компании и себя в ней, найдете внутренние резервы и возможности для их достижения, а также отыщете оптимальные
                    пути преодоления барьеров, мешающих развитию и росту.
                </p>
            </div>
            <div class="mainInfo__content-blk">
                <h3>5 причин воспользоваться услугами коуча от HR-up</h3>
                <p>
                    <span class="bold">Опытный коуч.</span> Вы за минимальное время получаете максимум пользы, формулируете цели, видите барьеры и находите пути их преодоления с минимальными усилиями и потерями.
                </p>
                <p>
                    <span class="bold">Взгляд со стороны.</span> Вы получаете возможность получить объективный и широкий взгляд на ситуацию. У тех, кто проходит коучинг, больше возможностей по преодолению личностного, профессионального, финансового или
                    иного кризиса за счет скрытых ресурсов.
                </p>
                <p>
                    <span class="bold">Откровенность.</span> Чем откровеннее человек говорит о существующих у него проблемах и внутренних конфликтах, тем легче ему признать свои ошибки. Проще откровенничать с человеком, которого, вероятнее всего не увидишь,
                    чем с тем, с которым работаешь в одной компании. Комплексность. Нередко корни проблем в бизнесе или карьере находятся в особенностях личности человека, его личных целей, предпочтений, желаний и мотивов. Опытный коуч в ходе индивидуальной
                    работы вытаскивает на поверхность якоря и помогает увидеть новые возможности.
                </p>
                <p>
                    <span class="bold">Результат.</span> Коучинг – это преимущественно внутренняя работа участника. Ее результаты нередко бывают неожиданными, но компания в целом всегда выигрывает от этого, избавляясь от балласта, который тянет ее ко
                    дну или не дает сдвинуться с места. Следом за коучингом неминуемо стартуют перемены, а большие или малые зависит от характера кризиса. Нередко, коучинг показывает, какие инструменты и приемы следует применить, чтобы запустить процесс
                    трансформации максимально эффективно.
                </p>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Когда нужна помощь коуча?</h3>
                <p>
                    Коуч помогает сдвинуться с “мертвой точки”, дает импульс для пробивания “потолка возможностей” и начала движения вперед после топтания на одном месте. Если вы чувствуете, видите или знаете, что компания в целом (ее часть или отдел) застряли на каком-то
                    уровне развития, а традиционные методы преодоления кризиса не работают, то стоит воспользоваться взглядом со стороны и начать комплексную работу с коучем.
                </p>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Помощь коуча будет актуальна в кризисных ситуациях:</h3>
                <ul>
                    <li>-руководители разных звеньев ищут возможности для своего развития;</li>
                    <li>-к вам стали обращаться с проблемой сложностей в совмещении жизни и работы;</li>
                    <li>-предстоит реализация крупного или сложного проекта для компании и нужна помощь в поиске необходимых ресурсов и сил для самореализации каждого в данном проекте;</li>
                    <li>-компания достигла поставленной цели и остановилась в развитии, поскольку не видит возможностей и выхода из этого кризиса;</li>
                    <li>-руководители ищут новые возможности для развития компании, но пока это не дает результатов;
                    </li>
                    <li>-в коллективе назрела напряженная ситуация, которая требует групповой работы для ее преодоления;
                    </li>
                    <li>-временные трудности затянулись и требуется поддержка в ее преодолении;</li>
                    <li>-есть мечта, которую нужно трансформировать в цели и наметить пути ее воплощения в жизнь.</li>
                </ul>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Каких результатов стоит ожидать от коучинга?</h3>
                <p>
                    Большая ошибка считать, что бизнес-коуч – это волшебник, который все ваши проблемы решит за вас. Цель коуча помочь одному человеку или коллективу правильно сформулировать цели, рассмотреть сложившуюся ситуацию в разных ракурсах и увидеть скрытые ресурсы
                    и возможности, наметить возможные пути преодоления ситуации.
                </p>
                <p>В связи с этим результат коучинга зависит от работы коллектива в целом и каждого в отдельности.</p>
                <p>
                    В идеале, в зависимости от поставленной перед коучем задачи, участник коучинга получит конспект, в котором будет сформулирована цель и возникшие в ходе консультации инсайты, прозрения, выводы, возможный план действий. Фактически, это тезисы, каждый из
                    которых потребует дальнейшей более тщательной проработки.
                </p>
                <p>
                    Результат коучинга будет, если полученные выводы будут использованы в работе и активизируют внутренние скрытые ресурсы участников.
                </p>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Как проходит коучинг?</h3>
                <p>Коучинг – это консультация в форме беседы с элементами самоанализа и мозгового штурма.</p>
                <ul>
                    <li>1. Определяется цель. Если индивидуальный коучинг, то участник сам формулирует цель. Если коучинг групповой, то цель формулируется сообща и она изначально известна коучу.</li>
                    <li>2. Выявляются барьеры и препятствия. Методом анализа и мозгового штурма участники формулирую максимальное количество возможных барьеров как крупных, так и мелких, как объективных, так и субъективных.
                    </li>
                    <li>3. Рассматривается сложившаяся ситуация в различных аспектах и с разных позиций, ее “+” и “-” для разных позиций. Подбираются аспекты, на которые можно повлиять и те, которые влиянию не поддаются.
                    </li>
                    <li>4. Поиск возможностей и ресурсов. Мозговой штурм преодоления негатива в разных аспектах и ситуациях разными, способами, методами и инструментами.</li>
                    <li>5. План действий. Намечается ориентировочный план действий по преодолению кризиса и действий каждого из участников.</li>
                </ul>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Сколько стоят услуги коуча?</h3>
                <p>Цена на услуги коуча зависит от продолжительности консультации и формы проведения. Первая уточняющая встреча 20 минут – бесплатно.</p>
                <h3 class="left"> Стоимость очной консультации в Москве составляет:</h3>
                <p>50-60 минут<span class="bold">—7500 руб.</span></p>
                <h3 class="left"> Стоимость заочной консультации (онлайн) составляет: </h3>
                <p>50-60 минут<span class="bold">—5500 руб.</span></p>
            </div>

            <section class="contactForm">
                <div class="contactForm__heading">
                    <h4>Возникли вопросы или хотите воспользоваться услугой?</h4>
                    <h4>Оставьте заявку прямо сейчас!</h4>
                </div>
                <div class="contactForm__form">
                    <p class="title">Свяжитесь с нами
                        <span>Для того чтобы заказать услугу 
        или задать вопрос  на сайте, обращайтесь
            любым удобным для Вас способом!</span></p>
                    <form>
                        <div class="form-wrap">
                            <div class="form-input">
                                <input type="text" placeholder="Имя">
                            </div>
                            <div class="form-input">
                                <input type="email" placeholder="E-mail">
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder="Тема">
                            </div>
                        </div>
                        <div class="form-textarea">
                            <textarea placeholder="Сообщение"></textarea>
                        </div>
                        <div class="form-bottom">
                            <div class="form-info">
                                <p class="place">
                                    <i class="icon-icon9"></i> МОСКВА
                                </p>
                                <p>
                                    <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                                </p>
                                <p>
                                    <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                                </p>
                            </div>
                            <button>Отправить</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>

    <div class="anchorMenu">
        <ul>
            <li>
                <a href="javascript:void(0)" class="fixedBtn">
                    <i class="icon-icon4"></i>
                </a>
                <div class="fixedBtn-body">
                    <div class="closeBtn"></div>
                    <a href="index.html" class="logo">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                    <p class="title">Свяжитесь с нами</p>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="scrollTop">
                    <span>
        <i class="icon-icon5"></i>
   </span>
                </a>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-item logotype">
                    <a href="index.html" class="logoFooter">
                        <img src="../images/logo.png" alt="image" class="logo">
                    </a>
                </div>
                <div class="footer__wrapper-item contacts">
                    <p class="title">КОНТАКТЫ</p>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP" target="_blank">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                </div>
                <div class="footer__wrapper-item menus">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Главная</a>
                            </li>
                            <li>
                                <a href="about-us.html">О нас</a>
                            </li>
                            <li>
                                <a href="index.html#services">Услуги</a>
                            </li>
                            <li>
                                <a href="index.html#articles">Контент</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html#benefits">Преимущества</a>
                            </li>
                            <li>
                                <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                            </li>
                            <li>
                                <a href="index.html#clients">Наши клиенты</a>
                            </li>
                            <li>
                                <a href="hr-facts.html">HR факт</a>
                            </li>
                            <li>
                                <a href="index.html#videos">Видеоролики</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__wrapper-item bottom">
                    <img src="../images/logo-footer.png" alt="image">
                </div>
            </div>
        </div>
    </footer>

    <!-- popup -->
    <!-- .closeBtn - закрывает попап -->
    <!-- .open-email__popup - открывает попап -->
    <div class="overlay-email overlayPopup">
        <div class="close"></div>
        <div class="email__popup">
            <span class="close-popup closeBtn"></span>
            <div class="emailForm__form">
                <p class="title">Свяжитесь с нами
                    <span>Для того чтобы заказать услугу 
                или задать вопрос  на сайте, обращайтесь
                    любым удобным для Вас способом!</span></p>
                <form>
                    <div class="form-wrap">
                        <div class="form-input">
                            <input type="text" placeholder="Имя">
                        </div>
                        <div class="form-input">
                            <input type="email" placeholder="E-mail">
                        </div>
                        <div class="form-input">
                            <input type="text" placeholder="Тема">
                        </div>
                    </div>
                    <div class="form-textarea">
                        <textarea placeholder="Сообщение"></textarea>
                    </div>
                    <div class="form-bottom">
                        <div class="form-info">
                            <p class="place">
                                <i class="icon-icon9"></i> МОСКВА
                            </p>
                            <p>
                                <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                            </p>
                            <p>
                                <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                            </p>
                        </div>
                        <button>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>

    <script src="../js/script.min.js"></script>
</body>

</html>