<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Как игра Мафия позволяет снизить текучку и повысить вовлеченность</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/grades.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__wrap-logo">
                    <!-- mobile hamburger -->
                    <button class="toggle-menu">
                        <span class="hamburger">
                    <span class="sw-topper"></span>
                        <span class="sw-bottom"></span>
                        <span class="sw-footer"></span>
                        </span>
                    </button>
                    <!-- End mobile hamburger -->
                    <a class="logoLink" href="index.html">
                        <img src="../images/logo.png" alt="logotype">
                    </a>
                    <form class="header__wrap-search">
                        <div class="form-input" id="form-input">
                            <input name="search" class="search-query" type="text" placeholder="Поиск...">
                            <button class="button"><i class="icon-icon1"></i></button>
                        </div>
                        <div class="showSearch"><i class="icon-icon1"></i></div>
                    </form>
                </div>
                <div class="header__wrap-menu">
                    <nav class="mainMenu" id="mainMenu">
                        <ul>
                            <li class="active">
                                <a href="index.html">ГЛАВНАЯ</a>
                            </li>
                            <li>
                                <a href="about-us.html">О НАС</a>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">УСЛУГИ</a>
                                <ul>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Оценка</a>
                                        <ul>
                                            <li>
                                                <a href="Assessment-center-desktop.html">Ассессмент-центр</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Опросники</a>
                                                <ul>
                                                    <li>
                                                        <a href="evaluation.html">360 градусов</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">Пульс-опросы</a>
                                                    </li>
                                                    <li>
                                                        <a href="Pair-Comparison-Method.html"> Метод парных сравнений</a>
                                                    </li>
                                                    <li>
                                                        <a href="Psychological-climate-assessment.html"> Психологического 
                                                    климата</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка
                                                    корпоративной культуры</a>
                                                    </li>
                                                    <li>
                                                        <a href="Satisfaction-Survey.html"> Удовлетворенности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Invitation-Questionnaire.html"> Вовлечености</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты</a>
                                                <ul>
                                                    <li>
                                                        <a href="Situation-Assessment-Test.html"> Тест оценки ситаций</a>
                                                    </li>
                                                    <li>
                                                        <a href="Learnability-test.html"> Обучаемости</a>
                                                    </li>
                                                    <li>
                                                        <a href="motivation-score.html"> Оценка мотивации</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты личности</a>
                                                <ul>
                                                    <li>
                                                        <a href="Multifactorial-identity.html"> Многофакторный
                                                    опросник личности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Тest-BigFive-Express.html"> BigFive экспресс</a>
                                                    </li>
                                                    <li>
                                                        <a href="questionnaire.html"> Опросник “Личностный 
                                                    портрет”</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка на соответствие
                                                    корпоративной культуре</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты способностей</a>
                                                <ul>
                                                    <li>
                                                        <a href="Universal-ability-test.html">Универсальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Verbal-ability-test.html">Вербальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Math-test.html">Математический</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Group-focus.html">Фокус-группы</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Вознаграждение</a>
                                        <ul>
                                            <li>
                                                <a href="grades.html">Грейды</a>
                                            </li>
                                            <li>
                                                <a href="Motivation-system-development.html">Разработка системы мотивации</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Стратегия</a>
                                        <ul>
                                            <li>
                                                <a href="Model-Competencies.html">Опросник по созданию модели компетенций</a>
                                            </li>
                                            <li>
                                                <a href="Corporate-culture.html">Оценка корпоративной культуры</a>
                                            </li>
                                            <li>
                                                <a href="grades.html">Определение стратегии вознаграждения</a>
                                            </li>
                                            <li>
                                                <a href="Formation-of-a-talent-management-strategy.html">Формирование стратегии управления талантами</a>
                                            </li>
                                            <li>
                                                <a href="HR-strategy-building.html">Построение HR стратегии</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Развитие</a>
                                        <ul>
                                            <li>
                                                <a href="coaching.html">Коучинг</a>
                                            </li>
                                            <li>
                                                <a href="personal-trainer.html">Персональный тренер</a>
                                            </li>
                                            <li>
                                                <a href="Webinars.html">Вебинары</a>
                                            </li>
                                            <li>
                                                <a href="Online-simulators.html">Онлайн тренажеры</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тренинги</a>
                                                <ul>
                                                    <li>
                                                        <a href="HR-trainings.html"> Для HR</a>
                                                    </li>
                                                    <li>
                                                        <a href="Executive-Training.html"> Для руководителей</a>
                                                    </li>
                                                    <li>
                                                        <a href="Training-efficiency-increase.html">Для повышения
                                                            эффективности</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Toolkit.html">Методические пособия</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Автоматизация</a>
                                        <ul>
                                            <li>
                                                <a href="HR-chat-bot.html">Чат-боты</a>
                                            </li>
                                            <li>
                                                <a href="Professional-Knowledge-Tests.html">Тесты профессиональных знаний</a>
                                            </li>
                                            <li>
                                                <a href="Automation-of-tests-and-questionnaires.html">Автоматизация тестов и опросников</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">КОНТЕНТ</a>
                                <ul>
                                    <li>
                                        <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">HR факт</a>
                                        <ul>
                                            <li>
                                                <a href="hr-facts.html#anchor1">HR факт 1</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor2">HR факт 2</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor3">HR факт 3</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor4">HR факт 4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Personal-data-contract.html">Договор о персональных данных</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Статьи</a>
                                        <ul>
                                            <li>
                                                <a href="5ways-to-increase-efficiency.html">5 способов
                                                повышения
                                                эффективности</a>
                                            </li>
                                            <li>
                                                <a href="manibol.html">Манибол</a>
                                            </li>
                                            <li>
                                                <a href="Agile-or-why-team-success-is-so-important.html">Agile или почему
                                                так важен успех
                                                комманды?</a>
                                            </li>
                                            <li>
                                                <a href="ROI.html">ROI от обучения
                                                персонала</a>
                                            </li>
                                            <li>
                                                <a href="How-the-Mafia-game-allows.html">Как игра Мафия
                                                позволяет снизить
                                                текучку и повысить
                                                вовлеченность</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html">КОНТАКТЫ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__wrap-phone">
                    <i class="icon-icon4"></i>
                    <a href="tel:+79265228408">+7 (926) 522-84-08</a>
                </div>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="container">
            <img src="../images/img11.jpg" alt="image">
        </div>
    </div>

    <section class="mainInfo">
        <div class="mainInfo__heading">
            <div class="container">
                <h2>Как игра Мафия позволяет снизить текучку и повысить вовлеченность</h2>
            </div>
        </div>
        <div class="container">
            <div class="mainInfo__content-blk">
                <p>Тема удержания сотрудников беспокоит все компании без исключения. Недавние исследования позволяют найти практические способы решения и возможности как сократить расходы, связанные с высокой текучестью кадров.</p>

                <p>Брукс К. Холтомом и его коллеги из Джоржтаунского университета исследовали вовлеченность в течение 10 лет и сформировали свою теорию. Холтом утверждает, что сотрудников можно рассматривать через разные роли, которые они выполняют в своей
                    жизни. Те, которые имеют больше ролей, обязанностей и отношений, имеют больше связей, поэтому они более вовлечены. То есть, те, кто имеет больше рабочих ролей, будет более погружен в работу.</p>

                <p>Это как игра в Мафию, люди вовлекаются в игру за счет того, что у них есть некие роли, связи с другими персонажами. «Мафию» иногда применяют и для оценки персонала, но основная ценность – это принцип по которому она работает. Для тех,
                    кто не знает «Мафия» – это командная игра, в которой местные жители борются с мафией, при этом кто играет за мафию, а кто за жителей неизвестно, это нужно узнать в ходе игры и посадить всю мафию в тюрьму.</p>

                <p>Ценность игры в том, что в ней можно проиграть многие грани человеческих взаимоотношений, тут человек может безопасно проявлять коварство и хитрость, не потому что он такой, а потому что так положено по роли.</p>

                <p>Чем больше ролей у человека, тем он больше вовлечен в игру. Вернемся к исследованию Холтома, он утверждает, что те сотрудники, у которых больше рабочих связей, острее будут чувствовать их потерю. То есть такие сотрудники с меньшей вероятностью
                    уволятся, так как при увольнении они потеряют не только работу, а и взаимоотношения в коллективе, друзей-коллег и другие связи, которые они ценили в работе.</p>

                <p>И наоборот, люди с минимальным набором функций, обязанностей или отношений на рабочем месте, менее вовлечены в работу. По данным исследования, эти люди из-за маленького количества связей между работой и жизнью меньше переживают в случае
                    ухода из компании. И это влияет на возможности удержания таких сотрудников.</p>
                <h3>Основные элементы вовлеченности персонала</h3>
                <p>Теория вовлеченности персонала определяет три критических элемента, которые указывают на уровень связей, который люди могут развить внутри своей компании. В широком смысле их можно определить как:</p>
                <p><span class="bold">Соответствие</span> – как работа человека соотносится с его ценностями и целями.</p>
                <p><span class="bold">Связи</span> – как человек связан с другими людьми и видами деятельности.</p>
                <p><span class="bold">Жертва</span> – уровень переживаний, который придется испытать человеку в случае его ухода со своей позиции.</p>
                <p>Понимание этих ключевых факторов дает возможность оценить, насколько велика степень риска ухода сотрудника. И дает понимание, что способствует его удержанию.</p>
                <h3>Соответствие</h3>
                <p>Холтом и его коллеги определяют соответствие сотрудника как «очевидную совместимость или удовлетворенность компанией и его рабочей средой». Совместимость, довольно субъективная единица измерения. HR могут оценить ее, опираясь на личные
                    и карьерные цели, таланты и знания сотрудника. Это определяет, насколько хорошо он впишется в коллектив компании.</p>
                <p>Если человек имеет высокий уровень вовлеченности в работу с точки зрения своего соответствия, то, он будет ощущать большую привязанность и к самой компании. Повысить уровень соответствия можно за счет учебных и групповых мероприятий. Это
                    разовьет совместимость и удовлетворенность персонала организацией, что повысит уровень вовлеченности в работу.</p>
                <h3>Связи</h3>
                <p>Связи можно определить как отношения между сотрудником, компанией и коллективом. Эти связи могут быть формальными, например, между руководством и сотрудниками, или неформальными, например, дружба между коллегами. Группы в рамках компании
                    и рабочую среду также можно рассматривать как разновидность связей, которые влияют на степень вовлеченности человека в работу.</p>
                <p>Усиление связей между сотрудником и его компанией может в результате повысить вовлеченность персонала. Развивать связи можно поощряя положительное взаимодействие между руководством и сотрудниками, предоставлять возможности для укрепления
                    сплоченности в группах. Менять рабочую атмосферу и рабочее пространство.</p>
                <h3>Жертва</h3>
                <p>Теория вовлеченности персонала в работу определяет жертву как «ощущаемую ценность материальных или психологических выгод, которые будут потеряны в случае ухода из компании». Кроме очевидных преимуществ работы, таких как доход и страхование,
                    в случае увольнения сотрудник может потерять дополнительные выгоды. Это могут быть: формальные компенсации, например пенсионные планы, опционы на акции или продвижения по службе в будущем. К ним могут относиться неформальные привилегии,
                    например дружеские отношения с коллегами, персонально важные задачи или проекты или даже репутация человека, занимающего должность.</p>
                <p>Величина жертвы, которую человек может принести в случае увольнения, имеет сильное влияние на степень вовлеченности в работу. Работодатели, которые хотят сократить текучесть кадров, могут рассмотреть вопрос о повышении значимости организационных
                    привилегий как формального, так и неформального характера. Если повысить ценность этих бонусов и уровень личной удовлетворенности сотрудников, это автоматически приведет к нежеланию терять эти преимущества.</p>
                <h3>Как использовать теорию вовлеченности персонала для повышения лояльности сотрудников</h3>
                <p>Необходимо понять общие факторы, влияющие на текучесть кадров, обратить внимание на показатели, прогнозирующие сохранение рабочей силы, и то, как компания может использовать эту информацию, чтобы достичь своих целей.</p>
                <p>Согласно исследованию Glassdoor.com, существует несколько показателей, которые, как правило, предвещают увольнение сотрудника из компании. К ним относятся:</p>
                <p><span class="bold">Смена ролей:</span> 73% сотрудников, которые меняют свою роль в структуре организации, в конечном счете увольняются.</p>
                <p><span class="bold">Возраст:</span> 69% 18-24-летних и 32% 40-48-летних сотрудников увольняются в течение одного года с начала своей работы в организации. </p>
                <p><span class="bold">Отрасль:</span> Организациям в правительственном, воздушном и космическом секторах, средствах массовой информации, ИТ и некоммерческих секторах, сложнее бороться с текучкой.</p>
                <p><span class="bold">Заработная плата:</span> 63% работников, уволившихся с работы, получают в среднем на 5,2% больше дохода от своего будущего работодателя.</p>
                <p><span class="bold">Культура:</span> показатели текучести кадров выше в организациях, где широко распространено негативное восприятие корпоративной культуры или где нет корпоративной культуры.</p>
                <p>Если использовать стратегии по вовлечению, это повысит показатели удержания сотрудников. Например, Glassdoor.com приводит следующие основные факторы сохранения трудовых ресурсов:</p>
                <p><span class="bold">Культура:</span> вероятность увольнения сотрудников, идентифицирующих себя с культурой и ценностями организации, на 5% ниже.</p>
                <p><span class="bold">Перспективы:</span> сотрудники, которые видят возможности карьерного роста в компании на 5% менее склонны к увольнению.</p>
                <p><span class="bold">Доход:</span> те, кто зарабатывает на 10% больше средней заработной платы по их позиции, на 1,5% менее склонны к увольнению.</p>
                <p><span class="bold">Продвижение по службе:</span> компании, которые не предоставляют прозрачных путей для продвижения по службе и возможностей карьерного роста, на 1% менее успешны в удержании сотрудников.</p>
                <h3>Минусы вовлеченности персонала и способы их преодоления</h3>
                <p>Существуют потенциально негативные аспекты вовлеченности.</p>
                <p>Вовлеченность усиливает процессы сохранения трудовых ресурсов, но могут возникать ситуации, когда сотрудники чувствуют себя связанными своей должностью и соответствующими обязанностями. Иногда текучесть кадров может быть предпочтительнее,
                    чем удержание сотрудников, которые не желают работать в компании или не соответствуют ее ценностям.</p>
                <p>Если сотрудник не соответствует должности, то усилия, направленные на повышение уровня вовлеченности, могут оказаться контрпродуктивными. Если человек сталкивается с инициативами по вовлеченности, которые противоречат его ценностям или
                    должность ему не интересна, это может вызвать негодование или он начнет вести себя контрпродуктивно.</p>
                <p>Чтобы предотвратить чрезмерное применение теории вовлеченности, компаниям нужно определить конкретные показатели успеха и любые потенциальные ситуации, в которых вовлеченность нежелательна. Попытки увеличения вовлеченности персонала нужно
                    предпринимать обдуманно с учетом общих целей и возможностей компании. Точно так же, как текучесть кадров может негативно влиять на прибыль и стабильность организации, так и чрезмерные уступки или компромиссы с сотрудниками могут влиять
                    на рентабельность инвестиций предприятия.</p>
                <h3>Взаимосвязь между обучением и коммерческим успехом</h3>
                <p>Холтом и его коллеги завершили свое исследование утверждением, что компании должны инвестировать в стратегии, которые эффективно повышают уровень вовлеченности персонала на долгий срок. Они рекомендуют оценить конкретные потребности и
                    желания своих сотрудников и найти способы их удовлетворения в соответствии с экономически эффективными программами, инициативами и обучением, которые повысят вовлеченность персонала в работу.</p>
                <p>Обучение в рамках самого подразделения по работе с персоналом может повысить осведомленность департамента о стратегиях вовлеченности персонала и расширить потенциал для их применения. Это может дать им больше средств для работы в направлении
                    реализации положительных тенденций по сохранению трудовых ресурсов в соответствии с целями и потребностями компании. </p>
            </div>
        </div>
    </section>

    <div class="anchorMenu">
        <ul>
            <li>
                <a href="javascript:void(0)" class="fixedBtn">
                    <i class="icon-icon4"></i>
                </a>
                <div class="fixedBtn-body">
                    <div class="closeBtn"></div>
                    <a href="index.html" class="logo">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                    <p class="title">Свяжитесь с нами</p>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="scrollTop">
                    <span>
        <i class="icon-icon5"></i>
   </span>
                </a>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-item logotype">
                    <a href="index.html" class="logoFooter">
                        <img src="../images/logo.png" alt="image" class="logo">
                    </a>
                </div>
                <div class="footer__wrapper-item contacts">
                    <p class="title">КОНТАКТЫ</p>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP" target="_blank">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                </div>
                <div class="footer__wrapper-item menus">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Главная</a>
                            </li>
                            <li>
                                <a href="about-us.html">О нас</a>
                            </li>
                            <li>
                                <a href="index.html#services">Услуги</a>
                            </li>
                            <li>
                                <a href="index.html#articles">Контент</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html#benefits">Преимущества</a>
                            </li>
                            <li>
                                <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                            </li>
                            <li>
                                <a href="index.html#clients">Наши клиенты</a>
                            </li>
                            <li>
                                <a href="hr-facts.html">HR факт</a>
                            </li>
                            <li>
                                <a href="index.html#videos">Видеоролики</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__wrapper-item bottom">
                    <img src="../images/logo-footer.png" alt="image">
                </div>
            </div>
        </div>
    </footer>

    <!-- popup -->
    <!-- .closeBtn - закрывает попап -->
    <!-- .open-email__popup - открывает попап -->
    <div class="overlay-email overlayPopup">
        <div class="close"></div>
        <div class="email__popup">
            <span class="close-popup closeBtn"></span>
            <div class="emailForm__form">
                <p class="title">Свяжитесь с нами
                    <span>Для того чтобы заказать услугу 
                или задать вопрос  на сайте, обращайтесь
                    любым удобным для Вас способом!</span></p>
                <form>
                    <div class="form-wrap">
                        <div class="form-input">
                            <input type="text" placeholder="Имя">
                        </div>
                        <div class="form-input">
                            <input type="email" placeholder="E-mail">
                        </div>
                        <div class="form-input">
                            <input type="text" placeholder="Тема">
                        </div>
                    </div>
                    <div class="form-textarea">
                        <textarea placeholder="Сообщение"></textarea>
                    </div>
                    <div class="form-bottom">
                        <div class="form-info">
                            <p class="place">
                                <i class="icon-icon9"></i> МОСКВА
                            </p>
                            <p>
                                <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                            </p>
                            <p>
                                <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                            </p>
                        </div>
                        <button>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>

    <script src="../js/script.min.js"></script>
</body>

</html>