<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Тренинги для HR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/grades.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__wrap-logo">
                    <!-- mobile hamburger -->
                    <button class="toggle-menu">
                        <span class="hamburger">
                    <span class="sw-topper"></span>
                        <span class="sw-bottom"></span>
                        <span class="sw-footer"></span>
                        </span>
                    </button>
                    <!-- End mobile hamburger -->
                    <a class="logoLink" href="index.html">
                        <img src="../images/logo.png" alt="logotype">
                    </a>
                    <form class="header__wrap-search">
                        <div class="form-input" id="form-input">
                            <input name="search" class="search-query" type="text" placeholder="Поиск...">
                            <button class="button"><i class="icon-icon1"></i></button>
                        </div>
                        <div class="showSearch"><i class="icon-icon1"></i></div>
                    </form>
                </div>
                <div class="header__wrap-menu">
                    <nav class="mainMenu" id="mainMenu">
                        <ul>
                            <li class="active">
                                <a href="index.html">ГЛАВНАЯ</a>
                            </li>
                            <li>
                                <a href="about-us.html">О НАС</a>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">УСЛУГИ</a>
                                <ul>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Оценка</a>
                                        <ul>
                                            <li>
                                                <a href="Assessment-center-desktop.html">Ассессмент-центр</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Опросники</a>
                                                <ul>
                                                    <li>
                                                        <a href="evaluation.html">360 градусов</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">Пульс-опросы</a>
                                                    </li>
                                                    <li>
                                                        <a href="Pair-Comparison-Method.html"> Метод парных сравнений</a>
                                                    </li>
                                                    <li>
                                                        <a href="Psychological-climate-assessment.html"> Психологического 
                                                    климата</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка
                                                    корпоративной культуры</a>
                                                    </li>
                                                    <li>
                                                        <a href="Satisfaction-Survey.html"> Удовлетворенности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Invitation-Questionnaire.html"> Вовлечености</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты</a>
                                                <ul>
                                                    <li>
                                                        <a href="Situation-Assessment-Test.html"> Тест оценки ситаций</a>
                                                    </li>
                                                    <li>
                                                        <a href="Learnability-test.html"> Обучаемости</a>
                                                    </li>
                                                    <li>
                                                        <a href="motivation-score.html"> Оценка мотивации</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты личности</a>
                                                <ul>
                                                    <li>
                                                        <a href="Multifactorial-identity.html"> Многофакторный
                                                    опросник личности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Тest-BigFive-Express.html"> BigFive экспресс</a>
                                                    </li>
                                                    <li>
                                                        <a href="questionnaire.html"> Опросник “Личностный 
                                                    портрет”</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка на соответствие
                                                    корпоративной культуре</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты способностей</a>
                                                <ul>
                                                    <li>
                                                        <a href="Universal-ability-test.html">Универсальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Verbal-ability-test.html">Вербальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Math-test.html">Математический</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Group-focus.html">Фокус-группы</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Вознаграждение</a>
                                        <ul>
                                            <li>
                                                <a href="grades.html">Грейды</a>
                                            </li>
                                            <li>
                                                <a href="Motivation-system-development.html">Разработка системы мотивации</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Стратегия</a>
                                        <ul>
                                            <li>
                                                <a href="Model-Competencies.html">Опросник по созданию модели компетенций</a>
                                            </li>
                                            <li>
                                                <a href="Corporate-culture.html">Оценка корпоративной культуры</a>
                                            </li>
                                            <li>
                                                <a href="grades.html">Определение стратегии вознаграждения</a>
                                            </li>
                                            <li>
                                                <a href="Formation-of-a-talent-management-strategy.html">Формирование стратегии управления талантами</a>
                                            </li>
                                            <li>
                                                <a href="HR-strategy-building.html">Построение HR стратегии</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Развитие</a>
                                        <ul>
                                            <li>
                                                <a href="coaching.html">Коучинг</a>
                                            </li>
                                            <li>
                                                <a href="personal-trainer.html">Персональный тренер</a>
                                            </li>
                                            <li>
                                                <a href="Webinars.html">Вебинары</a>
                                            </li>
                                            <li>
                                                <a href="Online-simulators.html">Онлайн тренажеры</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тренинги</a>
                                                <ul>
                                                    <li>
                                                        <a href="HR-trainings.html"> Для HR</a>
                                                    </li>
                                                    <li>
                                                        <a href="Executive-Training.html"> Для руководителей</a>
                                                    </li>
                                                    <li>
                                                        <a href="Training-efficiency-increase.html">Для повышения
                                                            эффективности</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Toolkit.html">Методические пособия</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Автоматизация</a>
                                        <ul>
                                            <li>
                                                <a href="HR-chat-bot.html">Чат-боты</a>
                                            </li>
                                            <li>
                                                <a href="Professional-Knowledge-Tests.html">Тесты профессиональных знаний</a>
                                            </li>
                                            <li>
                                                <a href="Automation-of-tests-and-questionnaires.html">Автоматизация тестов и опросников</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">КОНТЕНТ</a>
                                <ul>
                                    <li>
                                        <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">HR факт</a>
                                        <ul>
                                            <li>
                                                <a href="hr-facts.html#anchor1">HR факт 1</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor2">HR факт 2</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor3">HR факт 3</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor4">HR факт 4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Personal-data-contract.html">Договор о персональных данных</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Статьи</a>
                                        <ul>
                                            <li>
                                                <a href="5ways-to-increase-efficiency.html">5 способов
                                                повышения
                                                эффективности</a>
                                            </li>
                                            <li>
                                                <a href="manibol.html">Манибол</a>
                                            </li>
                                            <li>
                                                <a href="Agile-or-why-team-success-is-so-important.html">Agile или почему
                                                так важен успех
                                                комманды?</a>
                                            </li>
                                            <li>
                                                <a href="ROI.html">ROI от обучения
                                                персонала</a>
                                            </li>
                                            <li>
                                                <a href="How-the-Mafia-game-allows.html">Как игра Мафия
                                                позволяет снизить
                                                текучку и повысить
                                                вовлеченность</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html">КОНТАКТЫ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__wrap-phone">
                    <i class="icon-icon4"></i>
                    <a href="tel:+79265228408">+7 (926) 522-84-08</a>
                </div>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="container">
            <img src="../images/HR-trainings.jpg" alt="image">
        </div>
    </div>

    <section class="mainInfo">
        <div class="mainInfo__heading">
            <div class="container">
                <h2>Тренинги для HR</h2>
            </div>
        </div>
        <div class="container">
            <div class="mainInfo__content-blk">
                <h3>Построение системы грейдов</h3>
                <p>Система грейдов позволяет оценить ценность каждой должности для компании и сформировать на этом основании справедливую систему оплаты, основанную на рыночных показателях.</p>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Система грейдов позволяет:</h3>
                <ul>
                    <li>-Сформировать справедливую систему оплаты труда для сотрудников.</li>
                    <li>-Определить ценность каждой должности для компании.</li>
                    <li>-Снизить затратность на привлечение и удержание сотрудников.</li>
                    <li>-Повысить удовлетворенность сотрудников.</li>
                    <li>-Уменьшить текучку кадров.</li>
                    <li>-Сформировать мотивационную политику компании.</li>
                    <li>-Систематизировать контроль расходования средств.</li>
                    <li>-Выбрать составляющие вознаграждения, которые будут работать наиболее эффективно.</li>
                    <li>-Быстро определить сколько платить сотруднику на новой должности.</li>
                    <li>-Повысить привлекательность HR-бренда.</li>
                    <li>-ROI (возврат инвестиций от проекта) за 1 год – 69%, за 3 года – 114%, при использовании пакета грейды экспресс и 172% при использовании грейды стандарт (для компании 3000 сотрудников).</li>
                </ul>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Цели использования грейдов:</h3>
                <ul>
                    <li>-Формирование четкой иерархии должностей.</li>
                    <li>-Учитывать ситуацию на рынке при определении заработных плат.</li>
                    <li>-Стремится к равному и справедливому распределению заработных плат сотрудников.</li>
                    <li>-Прозрачность для сотрудников, что позволит избежать конфликтов и создать понимание кто и за что получает зарплату, какие есть перспективы роста и профессионального развития в компании.</li>
                </ul>
            </div>
            <div class="mainInfo__content-table">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                <p>Критерии</p>
                            </th>
                            <th>
                                <p>Грейды Экспресс</p>
                            </th>
                            <th>
                                <p>Грейды Стандарт</p>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <p>Скорость</p>
                            </td>
                            <td>
                                <p>1-2 месяца</p>
                            </td>
                            <td>
                                <p>6 месяцев</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Для кого</p>
                            </td>
                            <td>
                                <p>Малый и средний бизнес</p>
                            </td>
                            <td>
                                <p>Средний и крупный бизнес </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Сбор информации
                                </p>
                            </td>
                            <td>
                                <p>Онлайн опрос
                                </p>
                            </td>
                            <td>
                                <p>Группа экспертов
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Точность</p>
                            </td>
                            <td>
                                <p>Средняя</p>
                            </td>
                            <td>
                                <p>Высокая</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Методология</p>
                            </td>
                            <td>
                                <p>Упрощенная система
                                </p>
                            </td>
                            <td>
                                <p>Hay, Mercer или Персонифици- рованная система
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Особенности</p>
                            </td>
                            <td>
                                <p> Включает обзор рынка</p>
                            </td>
                            <td>
                                <p>Учитывает специ- фику работы компании
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Затратность</p>
                            </td>
                            <td>
                                <p>
                                    3000- 5000 руб за уникальную должность </p>
                            </td>
                            <td>
                                <p>15 000 - 18 000 руб за уникальную должность
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Количество факторов для распределения грейдов
                                </p>
                            </td>
                            <td>
                                <p>6-8</p>
                            </td>
                            <td>
                                <p>8-12 </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Этапы грейдирования</h3>
                <ul>
                    <li>-Выбор пакета: стандарт или экспресс.</li>
                    <li>-Выбор методологии для пакета стандарт.</li>
                    <li>-Разработка концепции.</li>
                    <li>-Создание положения.</li>
                    <li>-Оценка должностей.</li>
                    <li>-Построение иерархии должностей.</li>
                    <li>-Разработка положений по ранжированию должностей.</li>
                    <li>-Построение базовых зарплатных диапазонов.</li>
                    <li>-Сравнение актуальных зарплат сотрудников с целевыми диапазонами.</li>
                    <li>-Выбор компонентов вознаграждения.</li>
                    <li>-Расчет диапазонов вознаграждения.</li>
                    <li>-Написание функциональных требований для настройки.</li>
                    <li>-Автоматизация и передача онлайн калькулятора по оценке должностей</li>
                </ul>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Результаты проекта</h3>
                <ul>
                    <li>-Матрица грейдов.</li>
                    <li>-Пакет вознаграждений.</li>
                    <li>-Возможность бюджетирования вознаграждений.</li>
                    <li>-Утвержденный размер индексации.</li>
                    <li>-Положение по вознаграждению.</li>
                    <li>-Методологическое пособие по грейдированию</li>
                    <li>-Обученные сотрудники HR для самостоятельной работы с грейдами</li>
                    <li>-Онлайн калькулятор по оценке должностей и автоматизированная система грейдирования.</li>
                </ul>
            </div>
            <section class="contactForm">
                <div class="contactForm__heading">
                    <h4>Возникли вопросы или хотите воспользоваться услугой?</h4>
                    <h4>Оставьте заявку прямо сейчас!</h4>
                </div>
                <div class="contactForm__form">
                    <p class="title">Свяжитесь с нами
                        <span>Для того чтобы заказать услугу 
        или задать вопрос  на сайте, обращайтесь
            любым удобным для Вас способом!</span></p>
                    <form>
                        <div class="form-wrap">
                            <div class="form-input">
                                <input type="text" placeholder="Имя">
                            </div>
                            <div class="form-input">
                                <input type="email" placeholder="E-mail">
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder="Тема">
                            </div>
                        </div>
                        <div class="form-textarea">
                            <textarea placeholder="Сообщение"></textarea>
                        </div>
                        <div class="form-bottom">
                            <div class="form-info">
                                <p class="place">
                                    <i class="icon-icon9"></i> МОСКВА
                                </p>
                                <p>
                                    <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                                </p>
                                <p>
                                    <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                                </p>
                            </div>
                            <button>Отправить</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>

    <div class="anchorMenu">
        <ul>
            <li>
                <a href="javascript:void(0)" class="fixedBtn">
                    <i class="icon-icon4"></i>
                </a>
                <div class="fixedBtn-body">
                    <div class="closeBtn"></div>
                    <a href="index.html" class="logo">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                    <p class="title">Свяжитесь с нами</p>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="scrollTop">
                    <span>
        <i class="icon-icon5"></i>
   </span>
                </a>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-item logotype">
                    <a href="index.html" class="logoFooter">
                        <img src="../images/logo.png" alt="image" class="logo">
                    </a>
                </div>
                <div class="footer__wrapper-item contacts">
                    <p class="title">КОНТАКТЫ</p>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP" target="_blank">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                </div>
                <div class="footer__wrapper-item menus">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Главная</a>
                            </li>
                            <li>
                                <a href="about-us.html">О нас</a>
                            </li>
                            <li>
                                <a href="index.html#services">Услуги</a>
                            </li>
                            <li>
                                <a href="index.html#articles">Контент</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html#benefits">Преимущества</a>
                            </li>
                            <li>
                                <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                            </li>
                            <li>
                                <a href="index.html#clients">Наши клиенты</a>
                            </li>
                            <li>
                                <a href="hr-facts.html">HR факт</a>
                            </li>
                            <li>
                                <a href="index.html#videos">Видеоролики</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__wrapper-item bottom">
                    <img src="../images/logo-footer.png" alt="image">
                </div>
            </div>
        </div>
    </footer>

    <!-- popup -->
    <!-- .closeBtn - закрывает попап -->
    <!-- .open-email__popup - открывает попап -->
    <div class="overlay-email overlayPopup">
        <div class="close"></div>
        <div class="email__popup">
            <span class="close-popup closeBtn"></span>
            <div class="emailForm__form">
                <p class="title">Свяжитесь с нами
                    <span>Для того чтобы заказать услугу 
                или задать вопрос  на сайте, обращайтесь
                    любым удобным для Вас способом!</span></p>
                <form>
                    <div class="form-wrap">
                        <div class="form-input">
                            <input type="text" placeholder="Имя">
                        </div>
                        <div class="form-input">
                            <input type="email" placeholder="E-mail">
                        </div>
                        <div class="form-input">
                            <input type="text" placeholder="Тема">
                        </div>
                    </div>
                    <div class="form-textarea">
                        <textarea placeholder="Сообщение"></textarea>
                    </div>
                    <div class="form-bottom">
                        <div class="form-info">
                            <p class="place">
                                <i class="icon-icon9"></i> МОСКВА
                            </p>
                            <p>
                                <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                            </p>
                            <p>
                                <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                            </p>
                        </div>
                        <button>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>

    <script src="../js/script.min.js"></script>
</body>

</html>