<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>МАНИБОЛ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/grades.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__wrap-logo">
                    <!-- mobile hamburger -->
                    <button class="toggle-menu">
                        <span class="hamburger">
                    <span class="sw-topper"></span>
                        <span class="sw-bottom"></span>
                        <span class="sw-footer"></span>
                        </span>
                    </button>
                    <!-- End mobile hamburger -->
                    <a class="logoLink" href="index.html">
                        <img src="../images/logo.png" alt="logotype">
                    </a>
                    <form class="header__wrap-search">
                        <div class="form-input" id="form-input">
                            <input name="search" class="search-query" type="text" placeholder="Поиск...">
                            <button class="button"><i class="icon-icon1"></i></button>
                        </div>
                        <div class="showSearch"><i class="icon-icon1"></i></div>
                    </form>
                </div>
                <div class="header__wrap-menu">
                    <nav class="mainMenu" id="mainMenu">
                        <ul>
                            <li class="active">
                                <a href="index.html">ГЛАВНАЯ</a>
                            </li>
                            <li>
                                <a href="about-us.html">О НАС</a>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">УСЛУГИ</a>
                                <ul>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Оценка</a>
                                        <ul>
                                            <li>
                                                <a href="Assessment-center-desktop.html">Ассессмент-центр</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Опросники</a>
                                                <ul>
                                                    <li>
                                                        <a href="evaluation.html">360 градусов</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">Пульс-опросы</a>
                                                    </li>
                                                    <li>
                                                        <a href="Pair-Comparison-Method.html"> Метод парных сравнений</a>
                                                    </li>
                                                    <li>
                                                        <a href="Psychological-climate-assessment.html"> Психологического 
                                                    климата</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка
                                                    корпоративной культуры</a>
                                                    </li>
                                                    <li>
                                                        <a href="Satisfaction-Survey.html"> Удовлетворенности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Invitation-Questionnaire.html"> Вовлечености</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты</a>
                                                <ul>
                                                    <li>
                                                        <a href="Situation-Assessment-Test.html"> Тест оценки ситаций</a>
                                                    </li>
                                                    <li>
                                                        <a href="Learnability-test.html"> Обучаемости</a>
                                                    </li>
                                                    <li>
                                                        <a href="motivation-score.html"> Оценка мотивации</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты личности</a>
                                                <ul>
                                                    <li>
                                                        <a href="Multifactorial-identity.html"> Многофакторный
                                                    опросник личности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Тest-BigFive-Express.html"> BigFive экспресс</a>
                                                    </li>
                                                    <li>
                                                        <a href="questionnaire.html"> Опросник “Личностный 
                                                    портрет”</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка на соответствие
                                                    корпоративной культуре</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты способностей</a>
                                                <ul>
                                                    <li>
                                                        <a href="Universal-ability-test.html">Универсальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Verbal-ability-test.html">Вербальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Math-test.html">Математический</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Group-focus.html">Фокус-группы</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Вознаграждение</a>
                                        <ul>
                                            <li>
                                                <a href="grades.html">Грейды</a>
                                            </li>
                                            <li>
                                                <a href="Motivation-system-development.html">Разработка системы мотивации</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Стратегия</a>
                                        <ul>
                                            <li>
                                                <a href="Model-Competencies.html">Опросник по созданию модели компетенций</a>
                                            </li>
                                            <li>
                                                <a href="Corporate-culture.html">Оценка корпоративной культуры</a>
                                            </li>
                                            <li>
                                                <a href="grades.html">Определение стратегии вознаграждения</a>
                                            </li>
                                            <li>
                                                <a href="Formation-of-a-talent-management-strategy.html">Формирование стратегии управления талантами</a>
                                            </li>
                                            <li>
                                                <a href="HR-strategy-building.html">Построение HR стратегии</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Развитие</a>
                                        <ul>
                                            <li>
                                                <a href="coaching.html">Коучинг</a>
                                            </li>
                                            <li>
                                                <a href="personal-trainer.html">Персональный тренер</a>
                                            </li>
                                            <li>
                                                <a href="Webinars.html">Вебинары</a>
                                            </li>
                                            <li>
                                                <a href="Online-simulators.html">Онлайн тренажеры</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тренинги</a>
                                                <ul>
                                                    <li>
                                                        <a href="HR-trainings.html"> Для HR</a>
                                                    </li>
                                                    <li>
                                                        <a href="Executive-Training.html"> Для руководителей</a>
                                                    </li>
                                                    <li>
                                                        <a href="Training-efficiency-increase.html">Для повышения
                                                            эффективности</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Toolkit.html">Методические пособия</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Автоматизация</a>
                                        <ul>
                                            <li>
                                                <a href="HR-chat-bot.html">Чат-боты</a>
                                            </li>
                                            <li>
                                                <a href="Professional-Knowledge-Tests.html">Тесты профессиональных знаний</a>
                                            </li>
                                            <li>
                                                <a href="Automation-of-tests-and-questionnaires.html">Автоматизация тестов и опросников</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">КОНТЕНТ</a>
                                <ul>
                                    <li>
                                        <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">HR факт</a>
                                        <ul>
                                            <li>
                                                <a href="hr-facts.html#anchor1">HR факт 1</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor2">HR факт 2</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor3">HR факт 3</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor4">HR факт 4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Personal-data-contract.html">Договор о персональных данных</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Статьи</a>
                                        <ul>
                                            <li>
                                                <a href="5ways-to-increase-efficiency.html">5 способов
                                                повышения
                                                эффективности</a>
                                            </li>
                                            <li>
                                                <a href="manibol.html">Манибол</a>
                                            </li>
                                            <li>
                                                <a href="Agile-or-why-team-success-is-so-important.html">Agile или почему
                                                так важен успех
                                                комманды?</a>
                                            </li>
                                            <li>
                                                <a href="ROI.html">ROI от обучения
                                                персонала</a>
                                            </li>
                                            <li>
                                                <a href="How-the-Mafia-game-allows.html">Как игра Мафия
                                                позволяет снизить
                                                текучку и повысить
                                                вовлеченность</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html">КОНТАКТЫ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__wrap-phone">
                    <i class="icon-icon4"></i>
                    <a href="tel:+79265228408">+7 (926) 522-84-08</a>
                </div>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="container">
            <img src="../images/manibol.jpg" alt="image">
        </div>
    </div>

    <section class="mainInfo">
        <div class="mainInfo__heading">
            <div class="container">
                <h2>МАНИБОЛ</h2>
            </div>
        </div>
        <div class="container">
            <div class="mainInfo__content-blk">
                <h3>
                    Что важнее командные компетенции или личные компетенции каждого из участников?
                </h3>
                <p>
                    Анализ данных в сфере работы HR способен кардинально изменить стратегию управления развитием персонала и его компетенций. Но не стоит во всем полагаться на технологии и сводить человеческий потенциал к паре цифр.
                </p>
                <p>
                    Много говорится о том, что необходимо переосмыслить систему управления персоналом, прежде всего, в отношении социальной парадигмы. Тратить уйму времени на обсуждение важности умения определять таланты, ожидания, пожелания, потенциалы и скрытые качества,
                    а также бессознательные потребности бесполезно. Но будет ли на практике работать то, что работает в теории – вот что часто вызывает сомнения у менеджеров по персоналу.
                </p>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Данные – хорошо. Заимствование – плохо.</h3>
                <p>
                    Столкнувшись с той или иной проблемой, вы можете проанализировать блоги, твиты, соцсети сотрудников, использовать свою интуицию и попытаться собрать всю эту информацию воедино. Но нужно помнить о том, что само по себе наличие данных ничего не значит!
                    Если Вы не можете выделить те, что действительно имеют значение, понять их и использовать для принятия решений.Что подталкивает нас к проведению анализа? Что мы должны искать, как это найти, количественно оценить и понять? Действительно,
                    эти вопросы сложны, особенно для HR. Если в отделах по работе с клиентами практики анализа оптимизируются ежедневно, так как опираются на конкретные данные, то для отделов по работе с персоналом всё не так просто. Как оценить компетенции
                    сотрудников, как применять социальную аналитику? Учитывать оценку эффективности работы, экспертные оценки, управление социальной эффективностью, а что еще? Конечно, найти то, от чего можно отталкиваться и чего будет достаточно на определенном
                    этапе, можно достаточно быстро. Но все равно будут возникать вопросы (в основном, об отличиях специалиста и его компетенций). На практике мы всегда связывали компетенции с их владельцем и считали, что человек – это набор всех его компетенций.
                    Но что, если мы начнем рассуждать с точки зрения командной компетенции, а не личной? Это и называется «манибол».
                </p>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Применим ли метод «манибола» в сфере управления персоналом?</h3>
                <p>
                    Я думаю, что многие видели или слышали о фильме «Человек, который изменил всё» (Moneyball) и о чем этот фильм. Если в двух словах, в нем говорится о:
                </p>
                <p>
                    Рассматривать специалиста нужно не просто с человеческой, а с более аналитической точки зрения; Команду нужно строить, не приглашая в нее дополнительно специалиста, обладающего недостающими способностями, а опираясь на совокупные способности всех ее участников,
                    что позволит достигать заданных статистических показателей в ключевых областях. То есть, зачем нанимать этого талантливого игрока, если нам всего-то нужна команда, которая способна сделать что-то заданное количество раз.
                </p>
                <p>
                    Это наводит на две мысли. Во-первых, компетенция – ничто, если нет ощутимых результатов, следовательно, необходимо сочетать несколько источников. Во-вторых, человека можно условно разложить на несколько ключевых показателей эффективности.
                </p>
            </div>
            <div class="mainInfo__content-blk">
                <h3>В чём смысл методики?</h3>
                <p>
                    Метод, продемонстрированный в фильме (основанном, кстати, на реальных событиях), позволяет рациональней подходить к подбору персонала и быть в состоянии конкурировать с богатыми командами, способными нанимать лучших игроков, тогда как у Вас в распоряжении
                    – только четверть их бюджета. Ввиду чего Вы набираете средних, но отлично дополняющих друг друга исполнителей. При этом важно знать правильные критерии оценки. Не столь существенно, что один игрок не хорош во всем, при условии, что
                    набор качеств всех игроков позволяет достичь цели с коллективной точки зрения.

                </p>
                <p>
                    Можно и не говорить, что такие принципы выглядят потрясающе для множества компаний, пытающихся применять их для решения вопросов управления персоналом. Когда-то Форд поговаривал: «Если мне нужна пара рук, почему я должен иметь дело с мозгом, который к
                    ним прилагается». Сейчас это звучит так: «Если мне нужна команда, способная делать …, почему я должен платить за человека, который обладает дополнительными, но не интересующими меня, компетенциями».
                </p>
                <p>
                    Подход на самом деле выглядит неплохо. Поскольку миссия специалиста по работе с персоналом состоит в том, чтобы грамотно делегировать человеку с необходимыми компетенциями задачи. Почему бы не использовать более узкий подход и не искать «возможности получить
                    количественный результат» вместо индивидуальных компетенций.
                </p>
                <p>
                    Следовательно, грамотное сочетание компетенций более не является задачей исполнителя, а переходит в зону ответственности HR и руководителей.
                </p>
            </div>
            <div class="mainInfo__content-blk">
                <h3>При коллективной работе человеческие ресурсы не могут сводиться к паре цифр</h3>
                <p>
                    Проблема в том, что бизнес — это не бейсбольная команда. Позвольте мне пояснить (надеюсь, перфекционисты простят мне мои упрощения): бейсбол — это последовательная игра, которая состоит из отдельных партий. К общему результату можно прийти только путем
                    суммирования частных результатов. В ходе игры нет взаимодействия между игроками. Я считаю, что подход «манибола» обречен на неудачу в более коллективных видах спорта, таких, как баскетбол. То есть, в последовательных видах спорта «1+1»
                    всегда будет равным 2, а в видах спорта с коллективными действиями «1+1» может равняться 3 или даже 0 (в зависимости от способности группы играть слаженно).Но есть несколько принципов «манибола», которые могут быть полезными для HR-специалиста
                    при любом раскладе:
                </p>
                <ul>
                    <li>1. Производительность — это единственный критерий, который имеет значение. Независимо от того, какие компетенции директора по продажам записаны «на бумаге», в конечном итоге важны именно суммы продаж.</li>
                    <li>
                        2. Сочетание имеет значение, но не так, как в «маниболе». Я говорю о сочетаниях, которые составляют руководители, помогая своей команде лучше играть коллективно. Именно так можно достичь лучших результатов, вот что делает «1+1>2» возможным, а простое
                        суммирование отдельных качеств.

                    </li>
                </ul>
                <p>
                    Индивидуальные компетенции мало что значат. Необходимо придумывать новые показатели и измерять то, что действительно важно для слаженной и продуктивной работы людей, а также иметь представление об этих показателях, способных меняться в течение реализации
                    проекта.Чтобы получить объективную оценку людей, применяя метод Sabermetrics, использованный в фильме, необходимо также учитывать эмоциональные и субъективные аспекты.
                </p>
                <p>
                    Интересно угадывать, как могут в будущем развиться те или иные характеристики какого-либо конкретного человека, основываясь на их результатах в таких же сочетаниях компетенций. Но это зависит от стольких контекстуальных факторов, что к этому пункту я
                    отношусь довольно скептически.
                </p>
            </div>
            <div class="mainInfo__content-blk">
                <h3>Сила аналитики для отображения человеческого разнообразия</h3>
                <p>
                    Так что же во всем этом даёт аналитика? Так, при условии, что работники не будут использоваться для того, для чего они не предназначены, система управления персоналом изменится в лучшую сторону, прежде всего, с точки зрения распределения специалистов.
                    Технология в данном случае — это как обзор водителя. Если он не видит всю дорогу, то автомобилю «коллективного разума» грозит авария.
                </p>
                <p>
                    Я вижу два основных способа применения аналитики в вопросах управления персоналом.
                </p>
                <p>
                    Первый заключается в установлении и обработке большого объема неструктурированных данных.
                </p>
                <p>
                    Второй состоит в сопоставлении объективных и субъективных данных, учете чувств, эмоций и привнесении крупицы той проницательности, что свойственна человеку, при обработке данных, то есть в возможности создания выгодного объединение расчета данных и социальных
                    вычислений.
                </p>
                <p>
                    Кто говорил о когнитивных вычислениях? Выполнение этой сложной задачи поможет компаниям принимать во внимание особенности человеческого капитала, с чем ни машины, ни сами люди не могут справиться на протяжении уже многих лет (поскольку первые излишне
                    рациональны, а вторым недостает объективности).
                </p>
            </div>
        </div>
    </section>

    <div class="anchorMenu">
        <ul>
            <li>
                <a href="javascript:void(0)" class="fixedBtn">
                    <i class="icon-icon4"></i>
                </a>
                <div class="fixedBtn-body">
                    <div class="closeBtn"></div>
                    <a href="index.html" class="logo">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                    <p class="title">Свяжитесь с нами</p>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="scrollTop">
                    <span>
        <i class="icon-icon5"></i>
   </span>
                </a>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-item logotype">
                    <a href="index.html" class="logoFooter">
                        <img src="../images/logo.png" alt="image" class="logo">
                    </a>
                </div>
                <div class="footer__wrapper-item contacts">
                    <p class="title">КОНТАКТЫ</p>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP" target="_blank">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                </div>
                <div class="footer__wrapper-item menus">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Главная</a>
                            </li>
                            <li>
                                <a href="about-us.html">О нас</a>
                            </li>
                            <li>
                                <a href="index.html#services">Услуги</a>
                            </li>
                            <li>
                                <a href="index.html#articles">Контент</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html#benefits">Преимущества</a>
                            </li>
                            <li>
                                <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                            </li>
                            <li>
                                <a href="index.html#clients">Наши клиенты</a>
                            </li>
                            <li>
                                <a href="hr-facts.html">HR факт</a>
                            </li>
                            <li>
                                <a href="index.html#videos">Видеоролики</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__wrapper-item bottom">
                    <img src="../images/logo-footer.png" alt="image">
                </div>
            </div>
        </div>
    </footer>

    <!-- popup -->
    <!-- .closeBtn - закрывает попап -->
    <!-- .open-email__popup - открывает попап -->
    <div class="overlay-email overlayPopup">
        <div class="close"></div>
        <div class="email__popup">
            <span class="close-popup closeBtn"></span>
            <div class="emailForm__form">
                <p class="title">Свяжитесь с нами
                    <span>Для того чтобы заказать услугу 
                или задать вопрос  на сайте, обращайтесь
                    любым удобным для Вас способом!</span></p>
                <form>
                    <div class="form-wrap">
                        <div class="form-input">
                            <input type="text" placeholder="Имя">
                        </div>
                        <div class="form-input">
                            <input type="email" placeholder="E-mail">
                        </div>
                        <div class="form-input">
                            <input type="text" placeholder="Тема">
                        </div>
                    </div>
                    <div class="form-textarea">
                        <textarea placeholder="Сообщение"></textarea>
                    </div>
                    <div class="form-bottom">
                        <div class="form-info">
                            <p class="place">
                                <i class="icon-icon9"></i> МОСКВА
                            </p>
                            <p>
                                <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                            </p>
                            <p>
                                <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                            </p>
                        </div>
                        <button>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>

    <script src="../js/script.min.js"></script>
</body>

</html>