<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Вебинары</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/grades.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__wrap-logo">
                    <!-- mobile hamburger -->
                    <button class="toggle-menu">
                        <span class="hamburger">
                    <span class="sw-topper"></span>
                        <span class="sw-bottom"></span>
                        <span class="sw-footer"></span>
                        </span>
                    </button>
                    <!-- End mobile hamburger -->
                    <a class="logoLink" href="index.html">
                        <img src="../images/logo.png" alt="logotype">
                    </a>
                    <form class="header__wrap-search">
                        <div class="form-input" id="form-input">
                            <input name="search" class="search-query" type="text" placeholder="Поиск...">
                            <button class="button"><i class="icon-icon1"></i></button>
                        </div>
                        <div class="showSearch"><i class="icon-icon1"></i></div>
                    </form>
                </div>
                <div class="header__wrap-menu">
                    <nav class="mainMenu" id="mainMenu">
                        <ul>
                            <li class="active">
                                <a href="index.html">ГЛАВНАЯ</a>
                            </li>
                            <li>
                                <a href="about-us.html">О НАС</a>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">УСЛУГИ</a>
                                <ul>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Оценка</a>
                                        <ul>
                                            <li>
                                                <a href="Assessment-center-desktop.html">Ассессмент-центр</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Опросники</a>
                                                <ul>
                                                    <li>
                                                        <a href="evaluation.html">360 градусов</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">Пульс-опросы</a>
                                                    </li>
                                                    <li>
                                                        <a href="Pair-Comparison-Method.html"> Метод парных сравнений</a>
                                                    </li>
                                                    <li>
                                                        <a href="Psychological-climate-assessment.html"> Психологического 
                                                    климата</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка
                                                    корпоративной культуры</a>
                                                    </li>
                                                    <li>
                                                        <a href="Satisfaction-Survey.html"> Удовлетворенности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Invitation-Questionnaire.html"> Вовлечености</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты</a>
                                                <ul>
                                                    <li>
                                                        <a href="Situation-Assessment-Test.html"> Тест оценки ситаций</a>
                                                    </li>
                                                    <li>
                                                        <a href="Learnability-test.html"> Обучаемости</a>
                                                    </li>
                                                    <li>
                                                        <a href="motivation-score.html"> Оценка мотивации</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты личности</a>
                                                <ul>
                                                    <li>
                                                        <a href="Multifactorial-identity.html"> Многофакторный
                                                    опросник личности</a>
                                                    </li>
                                                    <li>
                                                        <a href="Тest-BigFive-Express.html"> BigFive экспресс</a>
                                                    </li>
                                                    <li>
                                                        <a href="questionnaire.html"> Опросник “Личностный 
                                                    портрет”</a>
                                                    </li>
                                                    <li>
                                                        <a href="Corporate-culture.html"> Оценка на соответствие
                                                    корпоративной культуре</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тесты способностей</a>
                                                <ul>
                                                    <li>
                                                        <a href="Universal-ability-test.html">Универсальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Verbal-ability-test.html">Вербальный</a>
                                                    </li>
                                                    <li>
                                                        <a href="Math-test.html">Математический</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Group-focus.html">Фокус-группы</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Вознаграждение</a>
                                        <ul>
                                            <li>
                                                <a href="grades.html">Грейды</a>
                                            </li>
                                            <li>
                                                <a href="Motivation-system-development.html">Разработка системы мотивации</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Стратегия</a>
                                        <ul>
                                            <li>
                                                <a href="Model-Competencies.html">Опросник по созданию модели компетенций</a>
                                            </li>
                                            <li>
                                                <a href="Corporate-culture.html">Оценка корпоративной культуры</a>
                                            </li>
                                            <li>
                                                <a href="grades.html">Определение стратегии вознаграждения</a>
                                            </li>
                                            <li>
                                                <a href="Formation-of-a-talent-management-strategy.html">Формирование стратегии управления талантами</a>
                                            </li>
                                            <li>
                                                <a href="HR-strategy-building.html">Построение HR стратегии</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Развитие</a>
                                        <ul>
                                            <li>
                                                <a href="coaching.html">Коучинг</a>
                                            </li>
                                            <li>
                                                <a href="personal-trainer.html">Персональный тренер</a>
                                            </li>
                                            <li>
                                                <a href="Webinars.html">Вебинары</a>
                                            </li>
                                            <li>
                                                <a href="Online-simulators.html">Онлайн тренажеры</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="javascript:void(0)">Тренинги</a>
                                                <ul>
                                                    <li>
                                                        <a href="HR-trainings.html"> Для HR</a>
                                                    </li>
                                                    <li>
                                                        <a href="Executive-Training.html"> Для руководителей</a>
                                                    </li>
                                                    <li>
                                                        <a href="Training-efficiency-increase.html">Для повышения
                                                            эффективности</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Toolkit.html">Методические пособия</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Автоматизация</a>
                                        <ul>
                                            <li>
                                                <a href="HR-chat-bot.html">Чат-боты</a>
                                            </li>
                                            <li>
                                                <a href="Professional-Knowledge-Tests.html">Тесты профессиональных знаний</a>
                                            </li>
                                            <li>
                                                <a href="Automation-of-tests-and-questionnaires.html">Автоматизация тестов и опросников</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">КОНТЕНТ</a>
                                <ul>
                                    <li>
                                        <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">HR факт</a>
                                        <ul>
                                            <li>
                                                <a href="hr-facts.html#anchor1">HR факт 1</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor2">HR факт 2</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor3">HR факт 3</a>
                                            </li>
                                            <li>
                                                <a href="hr-facts.html#anchor4">HR факт 4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Personal-data-contract.html">Договор о персональных данных</a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="javascript:void(0)">Статьи</a>
                                        <ul>
                                            <li>
                                                <a href="5ways-to-increase-efficiency.html">5 способов
                                                повышения
                                                эффективности</a>
                                            </li>
                                            <li>
                                                <a href="manibol.html">Манибол</a>
                                            </li>
                                            <li>
                                                <a href="Agile-or-why-team-success-is-so-important.html">Agile или почему
                                                так важен успех
                                                комманды?</a>
                                            </li>
                                            <li>
                                                <a href="ROI.html">ROI от обучения
                                                персонала</a>
                                            </li>
                                            <li>
                                                <a href="How-the-Mafia-game-allows.html">Как игра Мафия
                                                позволяет снизить
                                                текучку и повысить
                                                вовлеченность</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html">КОНТАКТЫ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__wrap-phone">
                    <i class="icon-icon4"></i>
                    <a href="tel:+79265228408">+7 (926) 522-84-08</a>
                </div>
            </div>
        </div>
    </header>

    <div class="banner">
        <div class="container">
            <img src="../images/img8.jpg" alt="image">
        </div>
    </div>

    <section class="mainInfo">
        <div class="mainInfo__heading">
            <div class="container">
                <h2>Вебинары</h2>
            </div>
        </div>
        <div class="container">
            <div class="mainInfo__content-blk">
                <p>Вебинары стали альтернативой очным тренингам. Они позволяют быстро повышать квалификацию, получать знания без отрыва от работы.</p>
                <h3>Вебинары готовые и под заказ
                <span>Обучение и повышение квалификации онлайн</span>
            </h3>
                <ul>
                    <li>-Создание и проведение вебинара под Ваш запрос</li>
                    <li>-Опытные ведущие, имеющие опыт и подготовку в проведении</li>
                    <li>-Практическая отработка навыков с помощью технологии case-study</li>
                </ul>
                <h3>Виды вебинаров</h3>
                <ul>
                    <li><span class="bold">-Классический</span> – лекция спикера + вопросы участников. Максимум эффективности для получения информации в концентрированном виде. Если вы можете задать вопросы и разобрать ситуации из практики.</li>
                    <li><span class="bold">-Воркшоп</span> – разновидность вебинара, когда теория подкрепляется практическими заданиями. Воркшоп предполагает обратную связь по практическим заданиям и потому зачастую занимает 2-3 сессии. Воркшоп хорош, когда
                        нужно попрактиковаться в освоении новых знаний и получить обратную связь от эксперта. Следует понимать, что формат ограничения в глубоком погружении из-за ограниченности во времени предполагает высокую мотивацию участников.</li>
                    <li><span class="bold">-Навыковый</span> – когда с помощью упражнений и кейсов отрабатываются навыки у участников. Такой вид вебинаров самый практичны, но ограничивает размер группы и требует наличия у участников смартфонов (для получения
                        персональных инструкций) и специальных программ для индивидуальной и парной работы.</li>
                </ul>
                <h3>HR-UP – что мы можем</h3>
                <p>Мы специализируемся на разработке вебинарного обучения по индивидуальным программам существующих тренингов с учетом пожеланий и специфики работы вашей компании. Доступны следующие направления для создания однодневных вебинаров и серии
                    обучающих электронных курсов в формате вебинарного общения и воркшопов.</p>
            </div>
            <section class="contactForm">
                <div class="contactForm__heading">
                    <h4>Возникли вопросы или хотите воспользоваться услугой?</h4>
                    <h4>Оставьте заявку прямо сейчас!</h4>
                </div>
                <div class="contactForm__form">
                    <p class="title">Свяжитесь с нами
                        <span>Для того чтобы заказать услугу 
        или задать вопрос  на сайте, обращайтесь
            любым удобным для Вас способом!</span></p>
                    <form>
                        <div class="form-wrap">
                            <div class="form-input">
                                <input type="text" placeholder="Имя">
                            </div>
                            <div class="form-input">
                                <input type="email" placeholder="E-mail">
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder="Тема">
                            </div>
                        </div>
                        <div class="form-textarea">
                            <textarea placeholder="Сообщение"></textarea>
                        </div>
                        <div class="form-bottom">
                            <div class="form-info">
                                <p class="place">
                                    <i class="icon-icon9"></i> МОСКВА
                                </p>
                                <p>
                                    <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                                </p>
                                <p>
                                    <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                                </p>
                            </div>
                            <button>Отправить</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>

    <div class="anchorMenu">
        <ul>
            <li>
                <a href="javascript:void(0)" class="fixedBtn">
                    <i class="icon-icon4"></i>
                </a>
                <div class="fixedBtn-body">
                    <div class="closeBtn"></div>
                    <a href="index.html" class="logo">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                    <p class="title">Свяжитесь с нами</p>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="scrollTop">
                    <span>
        <i class="icon-icon5"></i>
   </span>
                </a>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper-item logotype">
                    <a href="index.html" class="logoFooter">
                        <img src="../images/logo.png" alt="image" class="logo">
                    </a>
                </div>
                <div class="footer__wrapper-item contacts">
                    <p class="title">КОНТАКТЫ</p>
                    <ul class="social">
                        <li>
                            <a class="social-item" href="https://t.me/HR_UP" target="_blank">
                                <img src="../images/social1.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/HR-UP-1876493659070632/" target="_blank">
                                <img src="../images/social2.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.instagram.com/hr_consulting_hr_up/?hl=ru" target="_blank">
                                <img src="../images/social3.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://vk.com/hr_consulting_hr_up" target="_blank">
                                <img src="../images/social4.png" alt="image">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/groups/13633239/" target="_blank">
                                <img src="../images/social5.png" alt="image">
                            </a>
                        </li>
                    </ul>
                    <p class="place"><i class="icon-icon9"></i> МОСКВА</p>
                    <a href="tel:+79265228408" class="phone"><i class="icon-icon4"></i> +7 (926) 522-84-08</a>
                    <a href="tel:+74955326260" class="phone"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    <a href="javascript:void(0)" class="email open-email__popup"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                </div>
                <div class="footer__wrapper-item menus">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Главная</a>
                            </li>
                            <li>
                                <a href="about-us.html">О нас</a>
                            </li>
                            <li>
                                <a href="index.html#services">Услуги</a>
                            </li>
                            <li>
                                <a href="index.html#articles">Контент</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html#benefits">Преимущества</a>
                            </li>
                            <li>
                                <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                            </li>
                            <li>
                                <a href="index.html#clients">Наши клиенты</a>
                            </li>
                            <li>
                                <a href="hr-facts.html">HR факт</a>
                            </li>
                            <li>
                                <a href="index.html#videos">Видеоролики</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__wrapper-item bottom">
                    <img src="../images/logo-footer.png" alt="image">
                </div>
            </div>
        </div>
    </footer>

    <!-- popup -->
    <!-- .closeBtn - закрывает попап -->
    <!-- .open-email__popup - открывает попап -->
    <div class="overlay-email overlayPopup">
        <div class="close"></div>
        <div class="email__popup">
            <span class="close-popup closeBtn"></span>
            <div class="emailForm__form">
                <p class="title">Свяжитесь с нами
                    <span>Для того чтобы заказать услугу 
                или задать вопрос  на сайте, обращайтесь
                    любым удобным для Вас способом!</span></p>
                <form>
                    <div class="form-wrap">
                        <div class="form-input">
                            <input type="text" placeholder="Имя">
                        </div>
                        <div class="form-input">
                            <input type="email" placeholder="E-mail">
                        </div>
                        <div class="form-input">
                            <input type="text" placeholder="Тема">
                        </div>
                    </div>
                    <div class="form-textarea">
                        <textarea placeholder="Сообщение"></textarea>
                    </div>
                    <div class="form-bottom">
                        <div class="form-info">
                            <p class="place">
                                <i class="icon-icon9"></i> МОСКВА
                            </p>
                            <p>
                                <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                            </p>
                            <p>
                                <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                            </p>
                        </div>
                        <button>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>

    <script src="../js/script.min.js"></script>
</body>

</html>