<section class="contactForm">
    <div class="contactForm__heading">
        <h4>Возникли вопросы или хотите воспользоваться услугой?</h4>
        <h4>Оставьте заявку прямо сейчас!</h4>
    </div>
    <div class="contactForm__form">
        <p class="title">Свяжитесь с нами
        <span>Для того чтобы заказать услугу 
        или задать вопрос  на сайте, обращайтесь
            любым удобным для Вас способом!</span></p>
        <form>
            <div class="form-wrap">
                <div class="form-input">
                    <input type="text" placeholder="Имя">
                </div>
                <div class="form-input">
                    <input type="email" placeholder="E-mail">
                </div>
                <div class="form-input">
                    <input type="text" placeholder="Тема">
                </div>
            </div>
            <div class="form-textarea">
                <textarea placeholder="Сообщение"></textarea>
            </div>
            <div class="form-bottom">
                <div class="form-info">
                    <p class="place">
                        <i class="icon-icon9"></i>
                        МОСКВА
                    </p>
                    <p>
                        <a class="phone" href="tel:+74955326260"><i class="icon-icon4"></i> +7 (495) 532-62-60</a>
                    </p>
                    <p>
                        <a href="mailto:info@hr-consulting.online" class="email"><i class="icon-icon12"></i> INFO@HR-CONSULTING.ONLINE</a>
                    </p>
                </div>
                <button>Отправить</button>
            </div>
        </form>
    </div>
</section>