<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="header__wrap-logo">
                <!-- mobile hamburger -->
                <button class="toggle-menu">
                    <span class="hamburger">
                    <span class="sw-topper"></span>
                    <span class="sw-bottom"></span>
                    <span class="sw-footer"></span>
                    </span>
                </button>
                <!-- End mobile hamburger -->
                <a class="logoLink" href="index.html">
                    <img src="../images/logo.png" alt="logotype">
                </a>
                <form class="header__wrap-search">
                    <div class="form-input" id="form-input">
                        <input name="search" class="search-query" type="text" placeholder="Поиск...">
                        <button class="button"><i class="icon-icon1"></i></button>
                    </div>
                    <div class="showSearch"><i class="icon-icon1"></i></div>
                </form>
            </div>
            <div class="header__wrap-menu">
                <nav class="mainMenu" id="mainMenu">
                    <ul>
                        <li class="active">
                            <a href="index.html">ГЛАВНАЯ</a>
                        </li>
                        <li>
                            <a href="about-us.html">О НАС</a>
                        </li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">УСЛУГИ</a>
                            <ul>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Оценка</a>
                                    <ul>
                                        <li>
                                            <a href="Assessment-center-desktop.html">Ассессмент-центр</a>
                                        </li>
                                        <li class="has-sub">
                                            <a href="javascript:void(0)">Опросники</a>
                                            <ul>
                                                <li>
                                                    <a href="evaluation.html">360 градусов</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Пульс-опросы</a>
                                                </li>
                                                <li>
                                                    <a href="Pair-Comparison-Method.html"> Метод парных сравнений</a>
                                                </li>
                                                <li>
                                                    <a href="Psychological-climate-assessment.html"> Психологического 
                                                    климата</a>
                                                </li>
                                                <li>
                                                    <a href="Corporate-culture.html"> Оценка
                                                    корпоративной культуры</a>
                                                </li>
                                                <li>
                                                    <a href="Satisfaction-Survey.html"> Удовлетворенности</a>
                                                </li>
                                                <li>
                                                    <a href="Invitation-Questionnaire.html"> Вовлечености</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-sub">
                                            <a href="javascript:void(0)">Тесты</a>
                                            <ul>
                                                <li>
                                                    <a href="Situation-Assessment-Test.html"> Тест оценки ситаций</a>
                                                </li>
                                                <li>
                                                    <a href="Learnability-test.html"> Обучаемости</a>
                                                </li>
                                                <li>
                                                    <a href="motivation-score.html"> Оценка мотивации</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-sub">
                                            <a href="javascript:void(0)">Тесты личности</a>
                                            <ul>
                                                <li>
                                                    <a href="Multifactorial-identity.html"> Многофакторный
                                                    опросник личности</a>
                                                </li>
                                                <li>
                                                    <a href="Тest-BigFive-Express.html"> BigFive экспресс</a>
                                                </li>
                                                <li>
                                                    <a href="questionnaire.html"> Опросник “Личностный 
                                                    портрет”</a>
                                                </li>
                                                <li>
                                                    <a href="Corporate-culture.html"> Оценка на соответствие
                                                    корпоративной культуре</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-sub">
                                            <a href="javascript:void(0)">Тесты способностей</a>
                                            <ul>
                                                <li>
                                                    <a href="Universal-ability-test.html">Универсальный</a>
                                                </li>
                                                <li>
                                                    <a href="Verbal-ability-test.html">Вербальный</a>
                                                </li>
                                                <li>
                                                    <a href="Math-test.html">Математический</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="Group-focus.html">Фокус-группы</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Вознаграждение</a>
                                    <ul>
                                        <li>
                                            <a href="grades.html">Грейды</a>
                                        </li>
                                        <li>
                                            <a href="Motivation-system-development.html">Разработка системы мотивации</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Стратегия</a>
                                    <ul>
                                        <li>
                                            <a href="Model-Competencies.html">Опросник по созданию модели компетенций</a>
                                        </li>
                                        <li>
                                            <a href="Corporate-culture.html">Оценка корпоративной культуры</a>
                                        </li>
                                        <li>
                                            <a href="grades.html">Определение стратегии вознаграждения</a>
                                        </li>
                                        <li>
                                            <a href="Formation-of-a-talent-management-strategy.html">Формирование стратегии управления талантами</a>
                                        </li>
                                        <li>
                                            <a href="HR-strategy-building.html">Построение HR стратегии</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Развитие</a>
                                    <ul>
                                        <li>
                                            <a href="coaching.html">Коучинг</a>
                                        </li>
                                        <li>
                                            <a href="personal-trainer.html">Персональный тренер</a>
                                        </li>
                                        <li>
                                            <a href="Webinars.html">Вебинары</a>
                                        </li>
                                        <li>
                                            <a href="Online-simulators.html">Онлайн тренажеры</a>
                                        </li>
                                        <li class="has-sub">
                                            <a href="javascript:void(0)">Тренинги</a>
                                            <ul>
                                                <li>
                                                    <a href="HR-trainings.html"> Для HR</a>
                                                </li>
                                                <li>
                                                    <a href="Executive-Training.html"> Для руководителей</a>
                                                </li>
                                                <li>
                                                    <a href="Training-efficiency-increase.html">Для повышения
                                                            эффективности</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="Toolkit.html">Методические пособия</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Автоматизация</a>
                                    <ul>
                                        <li>
                                            <a href="HR-chat-bot.html">Чат-боты</a>
                                        </li>
                                        <li>
                                            <a href="Professional-Knowledge-Tests.html">Тесты профессиональных знаний</a>
                                        </li>
                                        <li>
                                            <a href="Automation-of-tests-and-questionnaires.html">Автоматизация тестов и опросников</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">КОНТЕНТ</a>
                            <ul>
                                <li>
                                    <a href="Cases-about-clients.html">Клиенты и кейсы</a>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">HR факт</a>
                                    <ul>
                                        <li>
                                            <a href="hr-facts.html#anchor1">HR факт 1</a>
                                        </li>
                                        <li>
                                            <a href="hr-facts.html#anchor2">HR факт 2</a>
                                        </li>
                                        <li>
                                            <a href="hr-facts.html#anchor3">HR факт 3</a>
                                        </li>
                                        <li>
                                            <a href="hr-facts.html#anchor4">HR факт 4</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Personal-data-contract.html">Договор о персональных данных</a>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Статьи</a>
                                    <ul>
                                        <li>
                                            <a href="5ways-to-increase-efficiency.html">5 способов
                                                повышения
                                                эффективности</a>
                                        </li>
                                        <li>
                                            <a href="manibol.html">Манибол</a>
                                        </li>
                                        <li>
                                            <a href="Agile-or-why-team-success-is-so-important.html">Agile или почему
                                                так важен успех
                                                комманды?</a>
                                        </li>
                                        <li>
                                            <a href="ROI.html">ROI от обучения
                                                персонала</a>
                                        </li>
                                        <li>
                                            <a href="How-the-Mafia-game-allows.html">Как игра Мафия
                                                позволяет снизить
                                                текучку и повысить
                                                вовлеченность</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contacts.html">КОНТАКТЫ</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__wrap-phone">
                <i class="icon-icon4"></i>
                <a href="tel:+79265228408">+7 (926) 522-84-08</a>
            </div>
        </div>
    </div>
</header>